In [34]:
from sqlalchemy.engine import create_engine
import pandas as pd

host='localhost' #Since hive is running localy
port=10000 # Default port for HiveServer2
username='maneelcha49dgre'
database='default'

connection_string=f'hive://{username}@{host}:{port}/{database}'

engine=create_engine(connection_string)

In [28]:
with engine.connect() as connection:
    create_table_sql="""
    create table if not exists emp_table(
    id int,
    name string,
    position string
    )
    partitioned by (department string)
    """
    #Execute SQL Command
    connection.execute(create_table_sql)
print("data inserted successfully")

data inserted successfully

In [30]:
with engine.connect() as connection:
    connection.execute("""
    insert into table emp_table partition(department='hr')
    values(1,'John','recuiter'),
    (2,'Doe','hr manager')
    """)
    connection.execute("""
    insert into table emp_table partition(department='engineering')
    values(3,'Alice','SDE'),
    (4,'Bob','Data Eng')
    """)

In [36]:
dt=pd.read_sql("select * from emp_table",engine)
print(dt)

   id   name    position   department
0   3  Alice         SDE  engineering
1   4    Bob    Data Eng  engineering
2   1   John    recuiter           hr
3   2    Doe  hr manager           hr

In [37]:
with engine.connect() as connection:
    results=connection.execute("select * from emp_table")
    for row in results:
         print(row)

(3, 'Alice', 'SDE', 'engineering')
(4, 'Bob', 'Data Eng', 'engineering')
(1, 'John', 'recuiter', 'hr')
(2, 'Doe', 'hr manager', 'hr')

### Another Example for table partition

In [15]:
from sqlalchemy.engine import create_engine
import pandas as pd
host='localhost'
port=10000
username='maneelcha49dgre'
database='default'
conn_string=f'hive://{username}@{host}:{port}/{database}'
engine=create_engine(conn_string)
with engine.connect() as conn:
    # pass
    conn.execute(""" create table t69 ( id int, name string) partitioned by (hr string) row format 
    delimited fields terminated by ',' stored as textfile """)
    conn.execute(""" INSERT INTO TABLE t69 PARTITION (hr='Pooja')
    VALUES 
    (3, 'Rohan'),
    (4, 'Ravish') """)

In [16]:
#df = pd.read_sql("SHOW TABLES",engine)
df = pd.read_sql("SELECT * FROM t69",engine)
print(df)

   id    name     hr
0   3   Rohan  Pooja
1   4  Ravish  Pooja

In [20]:
with engine.connect() as connection:
    res=connection.execute("select * from t69")
    for x in res:
        print(type(x),x)

<class 'sqlalchemy.engine.row.LegacyRow'> (3, 'Rohan', 'Pooja')
<class 'sqlalchemy.engine.row.LegacyRow'> (4, 'Ravish', 'Pooja')