CREATE TABLE emp_1 (
    id INT,
    name STRING,
    skills ARRAY<STRING>,
    addresses MAP<STRING, STRING>,
    job_info STRUCT<job_title:STRING, start_date:STRING, salary:DOUBLE>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY '|'
MAP KEYS TERMINATED BY ':'
STORED AS TEXTFILE;

### Retrieve all employee names and their first skill

In [1]:
select name,skills[0] as frist_skill 
from emp_1;

SyntaxError: invalid syntax (134305198.py, line 1)

### Get all employees' office address

In [ ]:
select name,
addresses['office'] as office_address
from emp_1;

### Fetch job titles and salary from nested job_info struct

In [ ]:
select name,
job_info.job_title as job_title,
job_info.salary as salary
from emp_1;

### Retrieve all data for employees with 'python' as  their skill

In [ ]:
select name
from emp_1
where array_contains(skills,'Python');

In [ ]:
#list all employees who have both skills java and python
select name
from emp_1
where array_contains(skills,'Java') and array_contains(skills,'Python');

In [ ]:
select id, name,skills,addresses,
get_json_object(job_info,'$.job_title') as job_title,
get_json_object(job_info,'$.start_date') as start_date,
get_json_object(job_info,'$.salary') as salary
from emp_1;

In [ ]:
select
     count(distinct skills) as unique_skill_count
     from emp_1
     lateral view explode(skills) as skill;

In [6]:
!pip install mysql-connector-python
!pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp39-cp39-manylinux_2_17_x86_64.whl (19.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 30.3 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.9/site-packages (1.1.1)

In [8]:
import pandas as pd
from sqlalchemy import create_engine

In [14]:
data ={
    'employee id': [101, 102, 103, 104],
    'First name': ['Jolin', 'Jane', 'Mike', 'Sara'], 
    'Last name': ['Doe', 'Smith', 'Johnson', 'Brown'],
    'age': [28, 34, 29, 42],
    'department': ['Sales', 'HR', 'Engineering', 'Rarketing'],
    'salary': [50000, 60000, 75000, 85000]
     }
 
employee_df= pd.DataFrame(data)
print("Sample Employee Data:") 
print(employee_df)
 
#Define the database commection parameters
 
db_user= 'maneelcha49dgre' 
db_password ='BrownGorilla19$'
db_host ='master'  
db_port=3306
db_name='maneelcha49dgre'        
 
#Create the SQLAlchemy engine 
engine=create_engine(f'mysql+mysqlconnector://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')
#send the dataframe to mysql database
table_name='employees'
try:
    employee_df.to_sql(name=table_name,con=engine,if_exists='replace',index=False)
    print(f"successfully inserted into the '{table_name}' tabele.")
except Exception as e:
                    print(f'An error occurred: {e}')

Sample Employee Data:
   employee id First name Last name  age   department  salary
0          101      Jolin       Doe   28        Sales   50000
1          102       Jane     Smith   34           HR   60000
2          103       Mike   Johnson   29  Engineering   75000
3          104       Sara     Brown   42    Rarketing   85000
successfully inserted into the 'employees' tabele.