In [35]:
class myClass:
  name = "Arun"

  def say_hello(self):
    self.age = 36
    #print("Hello",myClass.name)
    print("Hello",__class__.name)
    print("Age",self.age)

  def show_details(self):
    print({"Name" : myClass.name , "Age" : self.age})

In [36]:
c1 = myClass()

print(c1.name)

Arun

In [37]:
c1.say_hello()

Hello Arun
Age 36

In [38]:
c1.show_details()

{'Name': 'Arun', 'Age': 36}

In [42]:
class student:

  def __init__(self,id):
    self.id = id

In [45]:
s1 = student(1)
s2 = student(2)
s3 = student(3)

print(s1.id)
print(s2.id)
print(s3.id)

1
2
3

In [46]:
class mobile:
  def __init__(self,brandname,price):
    self.brandname = brandname
    self.price = price

  def say_hi(self):
    print(f"Hi, the mobile brand is {self.brandname} and its costs {self.price} rupees.")

In [48]:
m1 = mobile("Samsung",10000)
m2 = mobile("Apple",20000)
m3 = mobile("Nokia",30000)

m1.say_hi()
m2.say_hi()
m3.say_hi()

Hi, the mobile brand is Samsung and its costs 10000 rupees.
Hi, the mobile brand is Apple and its costs 20000 rupees.
Hi, the mobile brand is Nokia and its costs 30000 rupees.

In [62]:
print(m1.brandname)
print(m2.brandname)

Samsung
Apple

In [49]:
class college:
  course = 'BE'

  def opted(obj):
    print("You have opted for",obj.course)

c1 = college()
c1.opted()

You have opted for BE

In [56]:
class college:
  course = 'BE'

  def opted(self,year):
    self.year = year
    print("You have opted for",self.course,"You are studying in" , self.year)


college.opt = classmethod(college.opted)
college.opt("2nd")

You have opted for BE You are studying in 2nd

In [68]:
class College:
  course = "BE"

  def __init__(self,name):
    self.name = name

  def show_details(self):
    print({"Name" : self.name , "Course" : self.course})

  def change_course(self , new_course):
    self.course = new_course


c1 = College("Arun")
c2 = College("Ajay")

c1.show_details()
c2.show_details()

{'Name': 'Arun', 'Course': 'BE'}
{'Name': 'Ajay', 'Course': 'BE'}

In [69]:
c1.change_course("B-tech")

c1.show_details()
c2.show_details()

{'Name': 'Arun', 'Course': 'B-tech'}
{'Name': 'Ajay', 'Course': 'BE'}

In [70]:
class College:
  course = "BE"

  def __init__(self,name):
    self.name = name

  def show_details(self):
    print({"Name" : self.name , "Course" : self.course})

  def change_course(cls , new_course):
    cls.course = new_course

  change_course = classmethod(change_course)

In [71]:
s1 = College("Arun")
s2 = College("Ajay")

s1.show_details()
s2.show_details()

{'Name': 'Arun', 'Course': 'BE'}
{'Name': 'Ajay', 'Course': 'BE'}

In [72]:
College.change_course("B-tech")

s1.show_details()
s2.show_details()

{'Name': 'Arun', 'Course': 'B-tech'}
{'Name': 'Ajay', 'Course': 'B-tech'}

In [87]:
class Calculator:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def add(self):
    return self.x + self.y

  @staticmethod
  def add_static(a, b):
    return (a + b)

In [88]:
calc = Calculator(10, 20)
print(calc.add())

30

In [89]:
Calculator.add_static(5, 7)

12

In [99]:
class Students:
  id = 0

  def __init__(self,name,id):
    self.name = name
    self.id = id

In [100]:
s1 = Students('Arun',1)
s2 = Students('Ajay',2)

print(s1.name)
print(s2.name)

Arun
Ajay

In [101]:
print(s1.id)
print(s2.id)

1
2

In [102]:
class Students:
  id = 0

  def __init__(self,name,id):
    self.name = name
    Students.id = id

In [104]:
s1 = Students('Arun',1)
print(s1.id)

s2 = Students('Ajay',2)
print(s2.id)

1
2

In [111]:
class myClass:
  name = "Arun"

  def say_hello(self):
    print("Hello",myClass.name)

In [112]:
class newClass(myClass):

  def hello(self):
    print("Hello" , self.name)

In [113]:
m1 = myClass()
m1.say_hello()

Hello Arun

In [114]:
n1 = newClass()
n1.hello()

Hello Arun

In [157]:
from abc import *
class Database(ABC):
  @abstractmethod
  def connect(self):
    pass

  @abstractmethod
  def disconnect(self):
    pass

  def testmethod(self):
    print("This is a test method in Database")

In [158]:
class MySQL(Database):
  def connect(self):
    print("MySQL DB is connected")

  def disconnect(self):
    print("MySQL DB is disconnected")

  def testmethod(self):
    print("This is a test method")

In [159]:
class MS_SQLServer(Database):
  def connect(self):
    print("MS SQL Server DB is connected")

  def disconnect(self):
    print("MS SQL Server DB is disconnected")

In [160]:
d2 = MySQL()
d2.connect()
d2.disconnect()
d2.testmethod()

MySQL DB is connected
MySQL DB is disconnected
This is a test method

In [161]:
d3 = MS_SQLServer()
d3.connect()
d3.disconnect()
d3.testmethod()

MS SQL Server DB is connected
MS SQL Server DB is disconnected
This is a test method in Database

In [162]:
from abc import *

class shape(ABC):
  @abstractmethod
  def area(self):
    pass

  @abstractmethod
  def perimeter(self):
    pass

In [167]:
class Circle(shape):
  def __init__(self,radius):
    self.radius = radius

  def area(self):
    return 3.14 * self.radius**2

  def perimeter(self):
    return 2 * 3.14 * self.radius

In [168]:
c1 = Circle(5)
print(c1.area())
print(c1.perimeter())

78.5
31.400000000000002

In [169]:
class demo_class(Circle):
  def show_radius(self):
    print(self.radius)

In [172]:
d1 = demo_class(5)
d1.show_radius()

5

In [ ]:
#create a class employee
#class variable => count
#class constructor => name,experience
#class method => show_employee_details() => return name and experince in a dictionary form
#class method => show count => return total count of employee

In [186]:
class employee:
  count = 0

  def __init__(self,name,experience):
    self.name = name
    self.experience = experience
    employee.count += 1

  def show_employee_details(self):
    return {"Name" : self.name , "Experience" : self.experience}

  def show_count(self):
    return self.count

In [187]:
e1 = employee("Arun",3)
print(e1.show_count())

e2 = employee("Ajay",5)
print(e2.show_count())

e3 = employee("Suresh",2)
print(e3.show_count())

1
2
3

In [188]:
print(e1.show_employee_details())

print(e2.show_employee_details())

print(e3.show_employee_details())

{'Name': 'Arun', 'Experience': 3}
{'Name': 'Ajay', 'Experience': 5}
{'Name': 'Suresh', 'Experience': 2}

3
3
3

In [189]:
class MyClass:
    def my_method(self):
        print("Hello, Everyone!")

class MySubclass(MyClass):
    pass

obj = MySubclass()
obj.my_method()

Hello, Everyone!

In [190]:
class MyClass:
    def my_method(self):
        print("Hello, Everyone!")

class MySubclass(MyClass):
    def my_method(self):
        print("Thankyou!")

obj = MySubclass()
obj.my_method()

Thankyou!

In [217]:
class Parent:
  def __init__(self,fname,year):
    self.fname = fname
    self.year = year

  def view(self):
        print(self.fname, self.year)

class Child(Parent):
  def __init__(self,name,year):
    Parent.__init__(self,name,year)

  def view(self):
    print(self.fname,"was developed in", self.year)

In [218]:
ob = Child("Python Programming",1990)

In [219]:
ob.view()

Python Programming was developed in 1990

In [215]:
class Parent:
  def __init__(self,fname,year):
    self.fname = fname
    self.year = year

class Child(Parent):
  def __init__(self,name,year):
    super().__init__(name,year)

  def view(self):
    print(self.fname,"was developed in", self.year)

In [216]:
ob = Child("Python Programming",1990)
ob.view()

Python Programming was developed in 1990

In [222]:
#parent class
class Shape:
  def __init__(self,name):
    self.name = name


#child class
class Circle(Shape):
  def __init__(self,name,radius):
    Shape.__init__(self,name)
    self.radius = radius

  def area(self):
    return 3.14 * self.radius**2

#Child class
class Rectangle(Shape):
  def __init__(self,name,length,breadth):
    Shape.__init__(self,name)
    self.length = length
    self.breadth = breadth

  def area(self):
    return self.length * self.breadth

In [223]:
circle = Circle("Circle",5)
print(circle.area())

78.5

In [224]:
rectangle = Rectangle("Rectangle",5,10)
print(rectangle.area())

50

In [225]:
class classA:
  def view(self):
    print("This is class A")

class classB(classA):
  def view(self):
    print("This is class B")

obj = classB()
obj.view()

This is class B

In [226]:
super(classB,obj).view()

This is class A

In [246]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.__age = age

  def get_age(self):
    return self.__age

  def set_age(self, age):
    self.__age = age

  def display(self):
    print(f"Name: {self.name} Age: {self.__age}")

In [247]:
p1 = Person("Arun", 36)
p1.display()

Name: Arun Age: 36

In [248]:
print(p1.name)
print(p1.__age)

Arun

AttributeError: 'Person' object has no attribute '__age'

In [249]:
p1.get_age()

36

In [250]:
p1.set_age(40)

In [251]:
p1.display()

Name: Arun Age: 40

In [257]:
class Employee:
    def __init__(self, name, salary, age):
        self.name = name          # Public attribute
        self._salary = salary     # Protected attribute
        self.__age = age          # Private attribute

    def get_age(self):
        return self.__age

    def set_age(self, age):
      if 18 <= age <= 65:
        self.__age = age
      else:
        print("Age should be between 18 and 65")

    def display(self):
        print(f"Name: {self.name}, Salary: {self._salary}, Age: {self.__age}")

In [258]:
class Manager(Employee):
  def __init__(self, name, salary, age, department):
    super().__init__(name, salary, age)
    self.department = department

  def display_manager_details(self):
    super().display()
    print(f"Department: {self.department}")

  def give_raise(self, percentage):
    self._salary += (self._salary * percentage / 100)
    print(f"{self.name}'s new salary after {percentage}% raise: {self._salary} ")

In [259]:
e1 = Employee("Arun", 50000, 36)
e1.display()

Name: Arun, Salary: 50000, Age: 36

In [260]:
print(e1.name)
print(e1._salary)
print(e1.__age)

Arun
50000

AttributeError: 'Employee' object has no attribute '__age'

In [261]:
manager = Manager("Bob",80000,40,'IT')
manager.display_manager_details()

Name: Bob, Salary: 80000, Age: 40
Department: IT

In [262]:
manager.give_raise(10)

manager.display_manager_details()

Bob's new salary after 10% raise: 88000.0
Name: Bob, Salary: 88000.0, Age: 40
Department: IT

In [263]:
manager.get_age()

40

In [269]:
class classA:
  def __init__(self,a):
    self.a = a


class classB:
  def __init__(self,b):
    self.b = b


class classC(classA,classB):
  def __init__(self,a,b):
    classA.__init__(self,a)
    classB.__init__(self,b)

  def view(self):
    print(self.a,self.b)

In [270]:
c_obj = classC(10,20)
c_obj.view()

10 20

In [273]:
value = '35'

try:
  value / 5
except Exception as err:
  print(err)

unsupported operand type(s) for /: 'str' and 'int'

In [277]:
abc = '25'

try:
  print(abc/2)
except NameError:
  print("Variable abc is not defined")
except TypeError:
  print("Variable abc is not a numerical type")

Variable abc is not a numerical type

In [280]:
class BankAccount:
  def __init__(self,account_number,balance):
    self.__account_number = account_number
    self.__balance = balance

  def deposit(self,amount):
    self.__balance += amount
    print(f"Deposited INR {amount} new Balance: INR {self.__balance}")

  def withdraw(self,amount):
    if amount <= self.__balance:
      self.__balance -= amount
      print(f"Withdrawn INR {amount} new Balance: INR {self.__balance}")
    else:
      print("Insufficient Balance")

  def get_balance(self):
    return self.__balance

In [282]:
account = BankAccount("1234547544664",10000)
account.deposit(5000)
account.withdraw(2000)
print(f"Current balnce:- {account.get_balance()}")

Deposited INR 5000 new Balance: INR 15000
Withdrawn INR 2000 new Balance: INR 13000
Current balnce:- 13000

In [283]:
account.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [296]:
class Vector:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def __add__(self, other):
    return Vector(self.x + other.x, self.y + other.y)

  def __mul__(self, other):
    return Vector(self.x * other.x, self.y * other.y)

In [298]:
v1 = Vector(4,7)     #self.x & self.y

v2 = Vector(3,4)     #other.x & other.y

v3 = v1 + v2
print(v3.x , v3.y)

v4 = v1 * v2
print(v4.x, v4.y)

7 11
12 28

In [294]:
class Vector:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def __add__(self, other):
    return Vector(self.x + other.x, self.y + other.y)

  def __mul__(self, scaler):
    return Vector(self.x * scaler, self.y * scaler)

In [295]:
v1 = Vector(4,7)     #self.x & self.y

v2 = Vector(3,4)     #other.x & other.y

v3 = v1 + v2
print(v3.x , v3.y)

v4 = v1 * 5
print(v4.x, v4.y)

7 11
20 35

In [300]:
def newfunc(*args):
  return sum(args)

In [301]:
newfunc(4,5,6,7)

22

In [302]:
newfunc(3,6,7,8,9,1,2,4,5)

45

In [306]:
def newfunc(**kwargs):
  for key,value in kwargs.items():
    print(key,value)

In [307]:
newfunc(a=2,b=4,c=5,d=6)

a 2
b 4
c 5
d 6

In [308]:
import os
os.listdir('/content')

['.config', '.ipynb_checkpoints', 'myfile.txt', 'sample_data']

In [309]:
file = open('/content/myfile.txt' , 'r')
content = file.read()
print(content)
file.close()

This is my text file for file Handling.

In [310]:
file = open('/content/newfile.txt' , 'r')
content = file.read()
print(content)
file.close()

FileNotFoundError: [Errno 2] No such file or directory: '/content/newfile.txt'

In [311]:
file = open('/content/newfile.txt' , 'w')
file.write("This is a new file")
file.close()

In [312]:
file = open('/content/newfile.txt' , 'w')
file.write("This is updated file")
file.close()

In [313]:
file = open('/content/newfile.txt' , 'a')
file.write("\n This is added information into newfile.txt")
file.close()

In [315]:
file = open('/content/newfileX.txt' , 'x')
file.write("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
file.close()

In [318]:
try:
  file = open('/content/abcfile.txt' , 'r')
  content = file.read()
  print(content)
  file.close()

except Exception as err:
  print(err)

else:
  print("File reading complete without any error")

finally:
  print("All processess finished")

[Errno 2] No such file or directory: '/content/abcfile.txt'
All processess finished

In [319]:
try:
  file = open('/content/newfile.txt' , 'r')
  content = file.read()
  print(content)
  file.close()

except Exception as err:
  print(err)

else:
  print("File reading complete without any error")

finally:
  print("All processess finished")

This is updated file
 This is added information into newfile.txt
File reading complete without any error
All processess finished