In [ ]:
name = "John"
age = 30

In [ ]:
print("My name is" , name)

My name is John

In [ ]:
print("Name-" , name)

Name- John

In [ ]:
print("Age-",age)

Age- 30

In [ ]:
productname, productprice, quantity = "Apple", 10, 5

In [ ]:
print(productname)
print(productprice)
print(quantity)

Apple
10
5

In [ ]:
a = b = c = 100
print(a)
print(b)
print(c)

100
100
100

In [ ]:
age = 30
Age = 45

print(age)

30

In [ ]:
print(Age)

45

In [ ]:
#print(AGE)

In [ ]:
class = 30
print(class)

SyntaxError: invalid syntax (<ipython-input-74-7e81883ba0a1>, line 1)

In [ ]:
emp_name = ["Simran" , "Arjun" , "Ajay" , "Ramesh" , "Jacob"]

print(emp_name)
print(type(emp_name))

['Simran', 'Arjun', 'Ajay', 'Ramesh', 'Jacob']
<class 'list'>

In [ ]:
print(emp_name[1])

Arjun

In [ ]:
#These are Product name in the list form

Product_name = ["earphones", 'charger', "apple", 'potato', 'sunscreen', 'milk', 'bread','cold drink', 'egg', 'banana']

print(Product_name)

['earphones', 'charger', 'apple', 'potato', 'sunscreen', 'milk', 'bread', 'cold drink', 'egg', 'banana']

In [ ]:
print(len(Product_name))

10

In [ ]:
print(Product_name[0])

earphones

In [ ]:
print(Product_name[9])

banana

In [ ]:
print(Product_name[-1])

banana

In [ ]:
print(Product_name[-2])

egg

* type()
* len()
* index()

In [ ]:
print(Product_name)

['earphones', 'charger', 'apple', 'potato', 'sunscreen', 'milk', 'bread', 'cold drink', 'egg', 'banana']

In [ ]:
Product_name.index('sunscreen')

4

In [ ]:
age = 56
salary = 65000.56

print(age , type(age))
print(salary , type(salary))

56 <class 'int'>
65000.56 <class 'float'>

In [ ]:
Price = [1000, 600, 250, 100, 60, 450, 500, 100, 70, 100]

print(min(Price))
print(max(Price))
print(sum(Price))
print(len(Price))
print("Mean=" , sum(Price)/len(Price))

60
1000
3230
10
Mean= 323.0

In [ ]:
print(Product_name)

['earphones', 'charger', 'apple', 'potato', 'sunscreen', 'milk', 'bread', 'cold drink', 'egg', 'banana']

In [ ]:
print(Product_name[0:5])

['earphones', 'charger', 'apple', 'potato', 'sunscreen']

In [ ]:
# list_variable[initial_index : initial_index + number of values]

print(Product_name[1:1+5])

['charger', 'apple', 'potato', 'sunscreen', 'milk']

In [ ]:
print(Product_name[1:])

['charger', 'apple', 'potato', 'sunscreen', 'milk', 'bread', 'cold drink', 'egg', 'banana']

In [ ]:
print(Product_name[-3:])

['cold drink', 'egg', 'banana']

In [ ]:
mylist = ["Bipul" , 123454 , "bipul@abc.com" , 77.90]

print(mylist)

['Bipul', 123454, 'bipul@abc.com', 77.9]

In [ ]:
print(Product_name)

['earphones', 'charger', 'apple', 'potato', 'sunscreen', 'milk', 'bread', 'cold drink', 'egg', 'banana']

In [ ]:
Product_name[1] = 'bottle'
print(Product_name)

['earphones', 'bottle', 'apple', 'potato', 'sunscreen', 'milk', 'bread', 'cold drink', 'egg', 'banana']

In [ ]:
#removing using value
Product_name.remove('milk')
print(Product_name)

['earphones', 'bottle', 'apple', 'potato', 'sunscreen', 'bread', 'cold drink', 'egg', 'banana']

In [ ]:
#removing using index
Product_name.pop(2)
print(Product_name)

['earphones', 'bottle', 'potato', 'sunscreen', 'bread', 'cold drink', 'egg', 'banana']

In [ ]:
Product_name = ["earphones", 'charger',
                "apple", 'potato', 'sunscreen',
                'milk', 'bread','cold drink',
                'egg', 'milk' , 'banana',
                'milk']

print(Product_name)

['earphones', 'charger', 'apple', 'potato', 'sunscreen', 'milk', 'bread', 'cold drink', 'egg', 'milk', 'banana', 'milk']

In [ ]:
Product_name.remove('milk')
print(Product_name)

['earphones', 'charger', 'apple', 'potato', 'sunscreen', 'bread', 'cold drink', 'egg', 'milk', 'banana', 'milk']

In [ ]:
Product_name.index('milk')

8

In [ ]:
print(Product_name)

['earphones', 'charger', 'apple', 'potato', 'sunscreen', 'bread', 'cold drink', 'egg', 'milk', 'banana', 'milk']

In [ ]:
emp_name = ["Simran" , "Arjun" , "Ajay" , "Ramesh" , "Jacob"]

print(emp_name)

['Simran', 'Arjun', 'Ajay', 'Ramesh', 'Jacob']

In [ ]:
emp_name.append("Bipul")
print(emp_name)

['Simran', 'Arjun', 'Ajay', 'Ramesh', 'Jacob', 'Bipul']

In [ ]:
#insert
emp_name.insert(2, "Sandeep")
print(emp_name)

['Simran', 'Arjun', 'Sandeep', 'Ajay', 'Ramesh', 'Jacob', 'Bipul']

In [ ]:
cities = ("NewDelhi","Mumbai","Kolkata","Chennai","Banglore")

print(cities)

('NewDelhi', 'Mumbai', 'Kolkata', 'Chennai', 'Banglore')

In [ ]:
print(type(cities))

<class 'tuple'>

In [ ]:
print(len(cities))

5

In [ ]:
print(cities.index('Mumbai'))

1

In [ ]:
cities[2] = 'Jaipur'
print(cities)

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(cities)

('NewDelhi', 'Mumbai', 'Kolkata', 'Chennai', 'Banglore')

In [ ]:
print(list(cities))

['NewDelhi', 'Mumbai', 'Kolkata', 'Chennai', 'Banglore']

In [ ]:
print(cities)

('NewDelhi', 'Mumbai', 'Kolkata', 'Chennai', 'Banglore')

In [ ]:
emp_name = ["Simran" , "Arjun" , "Ajay" , "Ramesh" , "Jacob"]
print(emp_name)

['Simran', 'Arjun', 'Ajay', 'Ramesh', 'Jacob']

In [ ]:
two_emp = emp_name[1:3]
print(two_emp)

['Arjun', 'Ajay']

In [ ]:
two_emp[0] = "Sandeep"
print(two_emp)

['Sandeep', 'Ajay']

In [ ]:
print(emp_name)

['Simran', 'Arjun', 'Ajay', 'Ramesh', 'Jacob']

In [ ]:
#Dictionary

student = {"name" : "Ajay",
           "age" : 22,
           "city" : "NewDelhi"}

print(student)
print(type(student))

{'name': 'Ajay', 'age': 22, 'city': 'NewDelhi'}
<class 'dict'>

In [ ]:
print(student.keys())
print(student.values())

dict_keys(['name', 'age', 'city'])
dict_values(['Ajay', 22, 'NewDelhi'])

In [ ]:
print(student['name'])

Ajay

In [ ]:
print(student)

{'name': 'Ajay', 'age': 22, 'city': 'NewDelhi'}

In [ ]:
#Adding a new entity into existing dictionary
student['email'] = 'ajay@hello.com'
print(student)

{'name': 'Ajay', 'age': 22, 'city': 'NewDelhi', 'email': 'ajay@hello.com'}

In [ ]:
student.pop('city')

'NewDelhi'

In [ ]:
print(student)

{'name': 'Ajay', 'age': 22, 'email': 'ajay@hello.com'}

In [ ]:
del(student['age'])

In [ ]:
print(student)

{'name': 'Ajay', 'email': 'ajay@hello.com'}

In [ ]:
print(student)

{'name': 'Ajay', 'email': 'ajay@hello.com'}

In [ ]:
student['name'] = 'Amrit'
print(student)

{'name': 'Amrit', 'email': 'ajay@hello.com'}

In [ ]:
student['city'] = 'Jaipur'
print(student)

{'name': 'Amrit', 'email': 'ajay@hello.com', 'city': 'Jaipur'}

In [ ]:
print(student)

{'name': 'Amrit', 'email': 'ajay@hello.com', 'city': 'Jaipur'}

In [ ]:
print(student.keys())
print(student.values())

dict_keys(['name', 'email', 'city'])
dict_values(['Amrit', 'ajay@hello.com', 'Jaipur'])

In [ ]:
print(student.items())

dict_items([('name', 'Amrit'), ('email', 'ajay@hello.com'), ('city', 'Jaipur')])

* key => string, numeric , tuple
* value => string, numeric , list , tuple

In [ ]:
students_detail = {'names' : ['Ajay' , "Ramesh" , "Amit" , "Amrit" , "Pavan"],
                   'age' : [20, 21, 18, 19, 22],
                   'email' : ['ajay@abc.com' , 'ramesh@hello.com' , '--' , '--' , '--']}

print(students_detail)

{'names': ['Ajay', 'Ramesh', 'Amit', 'Amrit', 'Pavan'], 'age': [20, 21, 18, 19, 22], 'email': ['ajay@abc.com', 'ramesh@hello.com', '--', '--', '--']}

In [ ]:
print(students_detail['names'][2])
print(students_detail['age'][2])
print(students_detail['email'][2])

Amit
18
--

In [ ]:
student_detail2 = [{'name' : 'Ajay' , 'age' : 20 , 'email' : 'ajay@abc.com'},
                   {'name' : 'Ramesh' , 'age' : 21 , 'email' : 'ramesh@abc.com'},
                   {'name' : 'Amit' , 'age' : 18 , 'email' : '--'},
                   {'name' : 'Amrit' , 'age' : 19 , 'email' : '--'},
                   {'name' : 'Pavan' , 'age' : 22 , 'email' : '--'}]

print(student_detail2)

[{'name': 'Ajay', 'age': 20, 'email': 'ajay@abc.com'}, {'name': 'Ramesh', 'age': 21, 'email': 'ramesh@abc.com'}, {'name': 'Amit', 'age': 18, 'email': '--'}, {'name': 'Amrit', 'age': 19, 'email': '--'}, {'name': 'Pavan', 'age': 22, 'email': '--'}]

In [ ]:
print(student_detail2[2])

{'name': 'Amit', 'age': 18, 'email': '--'}

In [ ]:
print(student)

{'name': 'Amrit', 'email': 'ajay@hello.com', 'city': 'Jaipur'}

In [ ]:
print(student['email'])

ajay@hello.com

In [ ]:
#How can we find out key of Jaipur in studnet variable
city_name = 'Jaipur'

In [ ]:
print(list(student.values()).index('Jaipur'))

2

In [ ]:
print(list(student.keys())[2])

city

In [ ]:
names = {"Jai" , "John" , "Ajay" , "John"}

print(names)
print(type(names))

{'Ajay', 'Jai', 'John'}
<class 'set'>

In [ ]:
print(names.add('Jai'))
print(names)

None
{'Ajay', 'Jai', 'John'}

In [ ]:
names.add('Rahul')
print(names)

{'Ajay', 'Jai', 'Rahul', 'John'}

In [ ]:
print(names[0])

TypeError: 'set' object is not subscriptable

In [ ]:
emp_name = ["Simran" , "Arjun" , "Ajay" , "Ramesh" , "Jacob" , "Ajay" , "Arjun"]

print(emp_name)

['Simran', 'Arjun', 'Ajay', 'Ramesh', 'Jacob', 'Ajay', 'Arjun']

* Remove all duplicate values from the list
* Remove all occurances of Ajay from the list

In [ ]:
print(set(emp_name))

{'Ramesh', 'Simran', 'Arjun', 'Ajay', 'Jacob'}

In [ ]:
updated_emp_name = list(set(emp_name))

updated_emp_name.remove('Ajay')

print(updated_emp_name)

['Ramesh', 'Simran', 'Arjun', 'Jacob']

In [ ]:
print(emp_name)

['Simran', 'Arjun', 'Ajay', 'Ramesh', 'Jacob', 'Ajay', 'Arjun']

In [ ]:
print(id(emp_name))

137630820232896

In [ ]:
set1 = {"P1001", "P1002", "P1003"}
set2 = {"P1003", "P1004", "P1005"}

print(set1 | set2)

{'P1002', 'P1003', 'P1004', 'P1005', 'P1001'}

In [ ]:
print(set1 & set2)

{'P1003'}

In [ ]:
print(set1 - set2)

{'P1002', 'P1001'}

In [ ]:
print(set2 - set1)

{'P1004', 'P1005'}

In [ ]:
status = True
print(type(status))

<class 'bool'>

In [ ]:
status = False
print(type(status))

<class 'bool'>

In [ ]:
status = bool(1)
print(status)
print(type(status))

True
<class 'bool'>

In [ ]:
for i in range(0,5):
    print(i , "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [ ]:
numbers = [2,5,4,7,9,8,6,12]

new_numbers = []

for k in range(len(numbers)):
  #print(numbers[k]*2)
  new_numbers.append(numbers[k]*2)

print(new_numbers)

[4, 10, 8, 14, 18, 16, 12, 24]

In [ ]:
numbers = [2,5,4,7,9,8,6,12]

new_numbers = []

for num in numbers:
  #print(num * 2)
  new_numbers.append(num*2)

print(new_numbers)

[4, 10, 8, 14, 18, 16, 12, 24]

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
for i in range(10,0,-1):
  print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

* If Condition

In [ ]:
#Compare age value to print if someone is permitted to vote or not

age = int(input('Enter Your age'))

if age >= 18:
  print("You are permitted to vote")
else:
  print("You are not permitted to vote")

Enter Your age31
You are permitted to vote

In [ ]:
i = 0

while i < 5:
  print(i , "You are permitted to vote")
  i = i + 1
else:
  print("abcde")

0 You are permitted to vote
1 You are permitted to vote
2 You are permitted to vote
3 You are permitted to vote
4 You are permitted to vote
abcde

In [ ]:
Sales_data = [
    {"Product_ID": "P1001", "Product_Name": "Organic Apple", "Category": "Groceries", "Price": 50, "Quantity_Sold": 30, "Customer_ID": "C5001", "Rating": 4.5},
    {"Product_ID": "P1002", "Product_Name": "Whole Wheat Bread", "Category": "Groceries", "Price": 30, "Quantity_Sold": 15, "Customer_ID": "C5002", "Rating": 4.0},
    {"Product_ID": "P2001", "Product_Name": "Bluetooth Headphones", "Category": "Electronics", "Price": 1500, "Quantity_Sold": 5, "Customer_ID": "C5003", "Rating": 4.2},
    {"Product_ID": "P1001", "Product_Name": "Organic Apple", "Category": "Groceries", "Price": 50, "Quantity_Sold": 50, "Customer_ID": "C5004", "Rating": 4.5},
     {"Product_ID": "P2002", "Product_Name": "Smart Watch", "Category": "Electronics", "Price": 800, "Quantity_Sold": 7, "Customer_ID": "C5004", "Rating": 4.6},
    {"Product_ID": "P3001", "Product_Name": "Yoga Mat", "Category": "Sporting Goods", "Price": 300, "Quantity_Sold": 10, "Customer_ID": "C5005", "Rating": 4.8},
    {"Product_ID": "P3002", "Product_Name": "Dumbbell Set", "Category": "Sporting Goods", "Price": 500, "Quantity_Sold": 8, "Customer_ID": "C5006", "Rating": 4.7},
    {"Product_ID": "P4001", "Product_Name": "Cotton T-Shirt", "Category": "Apparel", "Price": 200, "Quantity_Sold": 20, "Customer_ID": "C5007", "Rating": 4.3},
    {"Product_ID": "P4002", "Product_Name": "Jeans", "Category": "Apparel", "Price": 300, "Quantity_Sold": 12, "Customer_ID": "C5008", "Rating": 4.5},
   {"Product_ID": "P4002", "Product_Name": "Jeans", "Category": "Apparel", "Price": 300, "Quantity_Sold": 20, "Customer_ID": "C5007", "Rating": 4.5},
    {"Product_ID": "P5001", "Product_Name": "Running Shoes", "Category": "Footwear", "Price": 600, "Quantity_Sold": 9, "Customer_ID": "C5009", "Rating": 4.4},
    {"Product_ID": "P5002", "Product_Name": "Leather Wallet", "Category": "Accessories", "Price": 150, "Quantity_Sold": 11, "Customer_ID": "C5010", "Rating": 4.6}

]

print(Sales_data)

[{'Product_ID': 'P1001', 'Product_Name': 'Organic Apple', 'Category': 'Groceries', 'Price': 50, 'Quantity_Sold': 30, 'Customer_ID': 'C5001', 'Rating': 4.5}, {'Product_ID': 'P1002', 'Product_Name': 'Whole Wheat Bread', 'Category': 'Groceries', 'Price': 30, 'Quantity_Sold': 15, 'Customer_ID': 'C5002', 'Rating': 4.0}, {'Product_ID': 'P2001', 'Product_Name': 'Bluetooth Headphones', 'Category': 'Electronics', 'Price': 1500, 'Quantity_Sold': 5, 'Customer_ID': 'C5003', 'Rating': 4.2}, {'Product_ID': 'P1001', 'Product_Name': 'Organic Apple', 'Category': 'Groceries', 'Price': 50, 'Quantity_Sold': 50, 'Customer_ID': 'C5004', 'Rating': 4.5}, {'Product_ID': 'P2002', 'Product_Name': 'Smart Watch', 'Category': 'Electronics', 'Price': 800, 'Quantity_Sold': 7, 'Customer_ID': 'C5004', 'Rating': 4.6}, {'Product_ID': 'P3001', 'Product_Name': 'Yoga Mat', 'Category': 'Sporting Goods', 'Price': 300, 'Quantity_Sold': 10, 'Customer_ID': 'C5005', 'Rating': 4.8}, {'Product_ID': 'P3002', 'Product_Name': 'Dumbbell Set', 'Category': 'Sporting Goods', 'Price': 500, 'Quantity_Sold': 8, 'Customer_ID': 'C5006', 'Rating': 4.7}, {'Product_ID': 'P4001', 'Product_Name': 'Cotton T-Shirt', 'Category': 'Apparel', 'Price': 200, 'Quantity_Sold': 20, 'Customer_ID': 'C5007', 'Rating': 4.3}, {'Product_ID': 'P4002', 'Product_Name': 'Jeans', 'Category': 'Apparel', 'Price': 300, 'Quantity_Sold': 12, 'Customer_ID': 'C5008', 'Rating': 4.5}, {'Product_ID': 'P4002', 'Product_Name': 'Jeans', 'Category': 'Apparel', 'Price': 300, 'Quantity_Sold': 20, 'Customer_ID': 'C5007', 'Rating': 4.5}, {'Product_ID': 'P5001', 'Product_Name': 'Running Shoes', 'Category': 'Footwear', 'Price': 600, 'Quantity_Sold': 9, 'Customer_ID': 'C5009', 'Rating': 4.4}, {'Product_ID': 'P5002', 'Product_Name': 'Leather Wallet', 'Category': 'Accessories', 'Price': 150, 'Quantity_Sold': 11, 'Customer_ID': 'C5010', 'Rating': 4.6}]

* Print the Product_Name of each item in Sales_data until the total price of all iterated products exceeds 10000.

In [ ]:
count = 0
totalPrice = 0

while count < len(Sales_data) and totalPrice < 10000:
  price = Sales_data[count]['Price']
  quantity = Sales_data[count]['Quantity_Sold']
  print(Sales_data[count]['Product_Name'])
  total = price * quantity
  totalPrice += total
  print(totalPrice)
  count += 1

Organic Apple
1500
Whole Wheat Bread
1950
Bluetooth Headphones
9450
Organic Apple
11950

In [ ]:
count = 0
totalPrice = 0

while count < len(Sales_data) and totalPrice < 10000:
  price = Sales_data[count]['Price']
  quantity = Sales_data[count]['Quantity_Sold']
  total = price * quantity
  totalPrice += total

  if totalPrice < 10000:
    print(Sales_data[count]['Product_Name'])
  count += 1

Organic Apple
Whole Wheat Bread
Bluetooth Headphones

**break**

In [ ]:
for i in range(0,10):
  print(i)
  if i == 7:
    break

0
1
2
3
4
5
6
7

In [ ]:
for i in range(0,10):
  if i == 7:
    break
  print(i)

0
1
2
3
4
5
6

**Continue**

In [ ]:
for i in range(0,10):
  if i == 7:
    continue
  print(i)

0
1
2
3
4
5
6
8
9

**if-elif-else**

In [ ]:
marks = int(input('Enter your marks'))

if marks >= 90:
  print('A')
elif marks >= 80:
  print('B')
elif marks >= 70:
  print('C')
elif marks >= 60:
  print('D')
else:
  print('F')

Enter your marks85
B

In [ ]:
name = "Bipul Kumar"

print('B' in name)
print('T' in name)

True
False

In [ ]:
print('B' not in name)
print('T' not in name)

False
True

In [ ]:
print(cities)

('NewDelhi', 'Mumbai', 'Kolkata', 'Chennai', 'Banglore')

In [ ]:
print('Mumbai' in cities)

True

In [ ]:
print(student)

{'name': 'Amrit', 'email': 'ajay@hello.com', 'city': 'Jaipur'}

In [ ]:
print('email' in student)

True