In [2]:
from pyspark.sql import SparkSession
 
# Initialize SparkSession with Hive support
spark = SparkSession.builder \
    .appName("HiveSelectQuery") \
    .config("spark.sql.warehouse.dir", "/user/hive/warehouse") \
    .config("hive.metastore.uris", "thrift://localhost:9083") \
    .config("spark.sql.catalogImplementation", "hive") \
    .enableHiveSupport() \
    .getOrCreate()
 
spark.sparkContext.setLogLevel("ERROR")

Warning: Ignoring non-Spark config property: hive.metastore.uris
2024-09-05 10:38:41,158 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2024-09-05 10:38:42,022 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
2024-09-05 10:38:42,022 WARN util.Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
2024-09-05 10:38:42,022 WARN util.Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
2024-09-05 10:38:42,023 WARN util.Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
2024-09-05 10:38:42,023 WARN util.Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
2024-09-05 10:38:42,023 WARN util.Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
2024-09-05 10:38:42,023 WARN util.Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
2024-09-05 10:38:42,023 WARN util.Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.
2024-09-05 10:38:42,023 WARN util.Utils: Service 'SparkUI' could not bind on port 4048. Attempting port 4049.
2024-09-05 10:38:42,024 WARN util.Utils: Service 'SparkUI' could not bind on port 4049. Attempting port 4050.
2024-09-05 10:38:42,024 WARN util.Utils: Service 'SparkUI' could not bind on port 4050. Attempting port 4051.
2024-09-05 10:38:42,780 WARN yarn.Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [4]:
spark.sql("create database if not exists fireBase").show()

++
||
++
++

In [3]:
spark.sql("show databases").show()

+------------------+
|         namespace|
+------------------+
|            01sept|
|    1sept2024_anup|
|         24aug2024|
|    27082024_shyam|
|27_aug_2024_devang|
| 27_aug_2024_pavan|
| 27_aug_2024_prawn|
|27_aug_2024_sumedh|
|     27_aug_chirag|
|         27aug2024|
|  27aug2024_aniket|
|    27aug2024_kuru|
|      27aug2024_m1|
|     27aug2024_man|
| 27aug2024_nishant|
|  27aug2024_rajish|
|  27aug2024_rakesh|
|      27aug2024_rs|
| 27aug2024_srirang|
|      27aug2024_ss|
+------------------+
only showing top 20 rows

In [5]:
spark.sql("use fireBase")

DataFrame[]

In [6]:
# Recreate the table with the desired format
spark.sql("""
    CREATE TABLE emp (
        name STRING,
        age INT,
        salary DOUBLE
    )
    USING parquet
    LOCATION 'hdfs:////user/maneelcha49dgre/Spark/fireBase'
""")

# # Check the table properties to see the existing format
spark.sql("DESCRIBE FORMATTED emp").show(truncate=False)

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|name                        |string                                                        |null   |
|age                         |int                                                           |null   |
|salary                      |double                                                        |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Database                    |firebase                                                      |       |
|Table                       |emp                                                           |       |
|Owner                       |maneelcha49dgre                                               |       |
|Created Time                |Thu Sep 05 04:54:55 UTC 2024                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.1.2                                                   |       |
|Type                        |EXTERNAL                                                      |       |
|Provider                    |parquet                                                       |       |
|Location                    |hdfs:/user/maneelcha49dgre/Spark/fireBase                     |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
+----------------------------+--------------------------------------------------------------+-------+

In [7]:
spark.sql("select * from emp").show()

+----+---+------+
|name|age|salary|
+----+---+------+
+----+---+------+

In [8]:
spark.sql("insert into table emp values('Max',23,4324.3),('Tony',21,234567.0),('John',34,3456.7)")

DataFrame[]

In [13]:
spark.sql("select * from emp").show()

+-------+---+--------+
|   name|age|  salary|
+-------+---+--------+
|  Alice| 30|  3000.0|
|    Bob| 25|  2500.0|
|Charlie| 35|  3500.0|
|   Tony| 21|234567.0|
|   John| 34|  3456.7|
|    Max| 23|  4324.3|
+-------+---+--------+

In [10]:
from pyspark.sql import Row
# Step 1: Create a simple Spark DataFrame
data = [
    Row(name="Alice", age=30, salary=3000.0),
    Row(name="Bob", age=25, salary=2500.0),
    Row(name="Charlie", age=35, salary=3500.0)
]

df = spark.createDataFrame(data)
df.show()

+-------+---+------+
|   name|age|salary|
+-------+---+------+
|  Alice| 30|3000.0|
|    Bob| 25|2500.0|
|Charlie| 35|3500.0|
+-------+---+------+

In [12]:
# Step 4: Insert data into the Hive table
df.write.mode("append").saveAsTable("emp")