In [1]:
import pandas as pd
from pyspark.sql import SparkSession

In [2]:
# spark = SparkSession.builder \
#     .appName("HiveConnectionCheck") \
#     .config("spark.sql.catalogImplementation","hive") \
#     .enableHiveSupport() \
#     .getOrCreate()
spark = SparkSession.builder.appName("DataFrameExample").getOrCreate()

2024-09-05 09:50:47,873 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2024-09-05 09:50:48,657 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
2024-09-05 09:50:48,657 WARN util.Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
2024-09-05 09:50:48,657 WARN util.Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
2024-09-05 09:50:48,657 WARN util.Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
2024-09-05 09:50:48,658 WARN util.Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
2024-09-05 09:50:48,658 WARN util.Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
2024-09-05 09:50:49,304 WARN yarn.Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [3]:
from sqlalchemy.engine import create_engine
import pandas as pd

host='localhost' #Since hive is running localy
port=10000 # Default port for HiveServer2
username='maneelcha49dgre'
database='employee_1'

connection_string=f'hive://{username}@{host}:{port}/{database}'

engine=create_engine(connection_string)

### create table schema for cust_dimen

In [4]:
# with engine.connect() as connection:
#     create_table="""
#     create table if not exists custTable (
#     Customer_Name string,
#     Province string,
#     Region string,
#     Customer_Segment string,
#     Cust_id string
#     )
#     ROW FORMAT DELIMITED 
#     FIELDS TERMINATED BY ','
#     STORED AS TEXTFILE
#     TBLPROPERTIES("skip.header.line.count"="1")
#     """
#     connection.execute(create_table)
# print("Table created")

In [5]:
# load_file="load data inpath '/user/maneelcha49dgre/review_file1/cust_dimen.csv' into table custTable"
# with engine.connect() as connection:
#     connection.execute(load_file)
# print('Successfully loaded')

### create table schema for Product_dimen

In [6]:
# with engine.connect() as connection:
#     create_table_prod="""
#     create table if not exists prodTable (
#     Product_category string,
#     Product_Sub_Category string,
#     Prod_id string
#     )
#     ROW FORMAT DELIMITED 
#     FIELDS TERMINATED BY ','
#     STORED AS TEXTFILE
#     TBLPROPERTIES("skip.header.line.count"="1")
#     """
#     connection.execute(create_table_prod)
# print("prodTable created")

In [7]:
# load_file="load data inpath '/user/maneelcha49dgre/review_file1/prod_dimen.csv' into table prodTable"
# with engine.connect() as connection:
#     connection.execute(load_file)
# print('Successfully loaded')

### create table schema for orders_dimen

In [8]:
# with engine.connect() as connection:
#     create_table_ord = """
#     CREATE TABLE ordTable(
#     Order_ID INT,
#     Order_Date STRING,
#     Order_Priority STRING,
#     Ord_id STRING
#     )
    # ROW FORMAT DELIMITED
    # FIELDS TERMINATED BY ','
    # STORED AS TEXTFILE
    # TBLPROPERTIES ("skip.header.line.count" = "1")
#     """
#     connection.execute(create_table_ord)
# print("ordTable created")

In [9]:
# load_file="load data inpath '/user/maneelcha49dgre/review_file1/orders_dimen.csv' into table ordTable"
# with engine.connect() as connection:
#     connection.execute(load_file)
# print('Successfully loaded')

### create table schema for market_dimen

In [10]:
# with engine.connect() as connection:
#     create_table_market = """
#     CREATE TABLE marketTable(
#     Ord_id STRING,
#     Prod_id STRING,
#     Ship_id STRING,
#     Cust_id STRING,
#     Sales DOUBLE,
#     Discount DOUBLE,
#     Order_Quantity INT,
#     Profit DOUBLE,
#     Shipping_Cost DOUBLE,
#     Product_Base_Margin DOUBLE
#     )
#     ROW FORMAT DELIMITED
#     FIELDS TERMINATED BY ','
#     STORED AS TEXTFILE
#     TBLPROPERTIES ("skip.header.line.count"="1")
#     """
#     connection.execute(create_table_market)
# print("marketTable created")

In [11]:
# load_file="load data inpath '/user/maneelcha49dgre/review_file1/market_fact.csv' into table marketTable"
# with engine.connect() as connection:
#     connection.execute(load_file)
# print('Successfully loaded')

### create table schema for shipping_dimen

In [12]:
# with engine.connect() as connection:
#     create_table_ship="""
#     create table if not exists shipTable (
#     Order_ID int,
#     Ship_Mode string,
#     Ship_Date string,
#     Ship_id string
#     )
#     ROW FORMAT DELIMITED 
#     FIELDS TERMINATED BY ','
#     STORED AS TEXTFILE
#     TBLPROPERTIES("skip.header.line.count"="1")
#     """
#     connection.execute(create_table_ship)
# print("shipTable created")

In [13]:
# load_file="load data inpath '/user/maneelcha49dgre/review_file1/shipping_dimen.csv' into table shipTable"
# with engine.connect() as connection:
#     connection.execute(load_file)
# print('Successfully loaded')

In [14]:
# hdfs dfs -put "/home/maneelcha49dgre/Spark/cust_dimen.csv" "/user/maneelcha49dgre"
#put above command into terminalto load csv file into hdfs

In [15]:
ship_df=pd.read_sql("select * from shipTable",engine)
cust_df=pd.read_sql("select * from custTable",engine)
prod_df=pd.read_sql("select * from prodTable",engine)
market_df=pd.read_sql("select * from marketTable",engine)
order_df=pd.read_sql("select * from ordTable",engine)

In [16]:
spark_ship=spark.createDataFrame(ship_df)
spark_cust=spark.createDataFrame(cust_df)
spark_prod=spark.createDataFrame(prod_df)
spark_market=spark.createDataFrame(market_df)
spark_order=spark.createDataFrame(order_df)

In [17]:
# result = unionAll([spark_ship, spark_cust,spark_prod,spark_market,spark_order])

In [18]:
# with engine.connect() as connection:
#     connection.execute("drop table shipTable")

In [19]:
join_df1 = spark_cust.join(spark_market, on="cust_id", how="left")
print(join_df1.show())

+-----------+----------------+------------------+---------+----------------+----------+---------+----------+--------+--------+--------------+-------+-------------+-------------------+
|    cust_id|   customer_name|          province|   region|customer_segment|    ord_id|  prod_id|   ship_id|   sales|discount|order_quantity| profit|shipping_cost|product_base_margin|
+-----------+----------------+------------------+---------+----------------+----------+---------+----------+--------+--------+--------------+-------+-------------+-------------------+
|"Cust_1285"|    "BRIAN MOSS"|     "SASKACHEWAN"| "PRARIE"|     "CORPORATE"|"Ord_3647"| "Prod_2"|"SHP_5054"|   77.19|    0.03|            17| -81.35|         6.89|                0.6|
|"Cust_1285"|    "BRIAN MOSS"|     "SASKACHEWAN"| "PRARIE"|     "CORPORATE"|"Ord_3645"| "Prod_4"|"SHP_5050"|2115.242|    0.04|            38| 371.41|         8.99|               0.56|
|"Cust_1285"|    "BRIAN MOSS"|     "SASKACHEWAN"| "PRARIE"|     "CORPORATE"|"Ord_3645"| "Prod_6"|"SHP_5049"| 1411.58|    0.01|            24| 699.31|         4.86|               0.36|
|"Cust_1285"|    "BRIAN MOSS"|     "SASKACHEWAN"| "PRARIE"|     "CORPORATE"|"Ord_3645"|"Prod_15"|"SHP_5051"| 1246.68|    0.01|             9| 218.48|        12.65|                NaN|
|"Cust_1285"|    "BRIAN MOSS"|     "SASKACHEWAN"| "PRARIE"|     "CORPORATE"| "Ord_598"| "Prod_8"|"SHP_5048"|  909.82|    0.02|            40| 292.49|         1.99|               0.46|
|"Cust_1285"|    "BRIAN MOSS"|     "SASKACHEWAN"| "PRARIE"|     "CORPORATE"|"Ord_3666"| "Prod_1"|"SHP_5081"|   467.4|    0.01|            19|-851.09|        53.03|               0.78|
|"Cust_1285"|    "BRIAN MOSS"|     "SASKACHEWAN"| "PRARIE"|     "CORPORATE"|"Ord_3685"| "Prod_1"|"SHP_5110"|   546.4|     0.1|            39|-138.82|         4.53|               0.81|
|"Cust_1285"|    "BRIAN MOSS"|     "SASKACHEWAN"| "PRARIE"|     "CORPORATE"|"Ord_3672"| "Prod_1"|"SHP_5089"|  741.49|    0.08|             8|-360.18|         35.0|                NaN|
|"Cust_1585"|  "ERIC MURDOCK"|"BRITISH COLUMBIA"|   "WEST"|   "HOME OFFICE"|"Ord_4627"| "Prod_7"|"SHP_6444"|  142.59|    0.02|            29|  -3.23|          0.7|               0.85|
|"Cust_1631"|  "MARIS LAWARE"|"BRITISH COLUMBIA"|   "WEST"|   "HOME OFFICE"|"Ord_4700"| "Prod_3"|"SHP_6557"|  202.42|    0.09|            38|   0.86|         2.99|               0.38|
|  "Cust_21"|"EUGENE BARCHAS"|         "NUNAVUT"|"NUNAVUT"|     "CORPORATE"|  "Ord_26"| "Prod_3"|  "SHP_34"|  191.67|     0.0|            47|-236.27|         7.01|               0.37|
|  "Cust_21"|"EUGENE BARCHAS"|         "NUNAVUT"|"NUNAVUT"|     "CORPORATE"|  "Ord_26"| "Prod_6"|  "SHP_36"|  507.64|     0.1|            18| 118.94|         5.76|                0.4|
|  "Cust_21"|"EUGENE BARCHAS"|         "NUNAVUT"|"NUNAVUT"|     "CORPORATE"|  "Ord_26"|"Prod_15"|  "SHP_35"| 5586.33|    0.09|            49|  80.44|         30.0|               0.64|
| "Cust_241"| "KRISTINA NUNN"|"BRITISH COLUMBIA"|   "WEST"|      "CONSUMER"| "Ord_764"| "Prod_2"|"SHP_1043"|  443.35|    0.02|            37| -21.73|         4.98|               0.58|
| "Cust_241"| "KRISTINA NUNN"|"BRITISH COLUMBIA"|   "WEST"|      "CONSUMER"| "Ord_702"| "Prod_9"| "SHP_960"|  108.26|    0.06|             7|  25.51|         1.39|               0.38|
| "Cust_241"| "KRISTINA NUNN"|"BRITISH COLUMBIA"|   "WEST"|      "CONSUMER"| "Ord_732"| "Prod_8"| "SHP_997"| 1905.79|    0.01|            46| 675.65|         1.99|               0.54|
| "Cust_241"| "KRISTINA NUNN"|"BRITISH COLUMBIA"|   "WEST"|      "CONSUMER"| "Ord_764"| "Prod_6"|"SHP_1043"|   30.85|    0.03|             4| -12.88|         5.79|               0.36|
| "Cust_241"| "KRISTINA NUNN"|"BRITISH COLUMBIA"|   "WEST"|      "CONSUMER"| "Ord_702"| "Prod_2"| "SHP_960"|  297.05|    0.09|            15| -16.89|         6.32|               0.58|
| "Cust_241"| "KRISTINA NUNN"|"BRITISH COLUMBIA"|   "WEST"|      "CONSUMER"| "Ord_764"| "Prod_5"|"SHP_1044"|  392.61|    0.08|            41|-100.15|         7.29|               0.45|
| "Cust_241"| "KRISTINA NUNN"|"BRITISH COLUMBIA"|   "WEST"|      "CONSUMER"| "Ord_738"| "Prod_7"|"SHP_1006"|  151.19|    0.03|            38|  60.63|         0.71|               0.39|
+-----------+----------------+------------------+---------+----------------+----------+---------+----------+--------+--------+--------------+-------+-------------+-------------------+
only showing top 20 rows

None

In [20]:
join_df2 = join_df1.join(spark_order,on="ord_id",how="left")
join_df2.show()

+----------+-----------+-------------------+--------------------+--------------------+----------------+---------+----------+--------+--------+--------------+-------+-------------+-------------------+--------+------------+---------------+
|    ord_id|    cust_id|      customer_name|            province|              region|customer_segment|  prod_id|   ship_id|   sales|discount|order_quantity| profit|shipping_cost|product_base_margin|order_id|  order_date| order_priority|
+----------+-----------+-------------------+--------------------+--------------------+----------------+---------+----------+--------+--------+--------------+-------+-------------+-------------------+--------+------------+---------------+
|"Ord_1354"| "Cust_519"|     "MELANIE PAGE"|           "ONTARIO"|           "ONTARIO"|     "CORPORATE"|"Prod_16"|"SHP_1863"|  156.15|    0.08|            10|  -37.6|         7.42|               0.56|   10371|"16-09-2009"|         "HIGH"|
| "Ord_174"|  "Cust_77"|       "DON MILLER"|"NORTHWEST TERRITORI|"NORTHWEST TERRITORI|   "HOME OFFICE"| "Prod_3"| "SHP_236"|  376.21|    0.03|            19|  89.56|         5.23|               0.37|   28035|"08-05-2011"|"NOT SPECIFIED"|
|"Ord_2058"| "Cust_775"|      "LUKE FOSTER"|       "NOVA SCOTIA"|          "ATLANTIC"|     "CORPORATE"| "Prod_3"|"SHP_2814"|  772.67|     0.0|            36| 286.87|         2.99|               0.37|   51107|"25-09-2012"|"NOT SPECIFIED"|
| "Ord_229"|  "Cust_90"|    "CLAUDIA MINER"|"NORTHWEST TERRITORI|"NORTHWEST TERRITORI|"SMALL BUSINESS"| "Prod_1"| "SHP_317"| 1373.11|     0.1|            18|-599.54|         35.0|               0.81|   37541|"26-02-2010"|       "MEDIUM"|
| "Ord_229"|  "Cust_90"|    "CLAUDIA MINER"|"NORTHWEST TERRITORI|"NORTHWEST TERRITORI|"SMALL BUSINESS"| "Prod_6"| "SHP_318"|  550.61|    0.08|            10|  98.32|        13.88|               0.36|   37541|"26-02-2010"|       "MEDIUM"|
| "Ord_229"|  "Cust_90"|    "CLAUDIA MINER"|"NORTHWEST TERRITORI|"NORTHWEST TERRITORI|"SMALL BUSINESS"| "Prod_8"| "SHP_317"|   71.94|    0.01|             3| -70.68|         5.99|               0.65|   37541|"26-02-2010"|       "MEDIUM"|
|"Ord_2366"| "Cust_942"|      "DENNIS KANE"|            "QUEBEC"|            "QUEBEC"|"SMALL BUSINESS"| "Prod_3"|"SHP_3248"|  240.27|    0.07|            33| -269.8|        11.51|               0.36|   12448|"08-11-2011"|     "CRITICAL"|
|"Ord_2366"| "Cust_942"|      "DENNIS KANE"|            "QUEBEC"|            "QUEBEC"|"SMALL BUSINESS"|"Prod_15"|"SHP_3249"| 6802.37|    0.08|            24|  459.5|        69.55|                0.6|   12448|"08-11-2011"|     "CRITICAL"|
|"Ord_2451"| "Cust_942"|      "DENNIS KANE"|            "QUEBEC"|            "QUEBEC"|"SMALL BUSINESS"| "Prod_8"|"SHP_3362"| 1388.91|     0.1|            20|-229.87|          4.0|               0.79|   33217|"12-03-2009"|         "HIGH"|
|"Ord_2451"| "Cust_942"|      "DENNIS KANE"|            "QUEBEC"|            "QUEBEC"|"SMALL BUSINESS"|"Prod_17"|"SHP_3362"| 1806.65|    0.05|            34| 599.04|        10.17|               0.37|   33217|"12-03-2009"|         "HIGH"|
|"Ord_2494"| "Cust_961"|     "CAROL TRIGGS"|            "QUEBEC"|            "QUEBEC"|   "HOME OFFICE"|"Prod_13"|"SHP_3419"|   49.49|    0.01|            28|  -1.23|          0.7|               0.56|   40934|"13-11-2011"|"NOT SPECIFIED"|
|"Ord_2494"| "Cust_961"|     "CAROL TRIGGS"|            "QUEBEC"|            "QUEBEC"|   "HOME OFFICE"| "Prod_4"|"SHP_3420"|404.1495|    0.07|            11| -107.5|         4.99|               0.57|   40934|"13-11-2011"|"NOT SPECIFIED"|
|"Ord_2502"| "Cust_976"|    "TOBY CARLISLE"|            "QUEBEC"|            "QUEBEC"|   "HOME OFFICE"| "Prod_4"|"SHP_3430"|2104.991|    0.09|            20| 165.45|          8.8|               0.59|   42951|"16-09-2012"|     "CRITICAL"|
|"Ord_2524"| "Cust_968"|     "DIONIS LLOYD"|            "QUEBEC"|            "QUEBEC"|"SMALL BUSINESS"|"Prod_15"|"SHP_3457"| 7323.78|    0.04|            31| 573.55|        62.94|               0.57|   48774|"09-08-2012"|         "HIGH"|
|"Ord_2629"|"Cust_1020"|"KATHERINE NOCKTON"|           "ONTARIO"|           "ONTARIO"|   "HOME OFFICE"| "Prod_1"|"SHP_3596"| 2421.44|    0.09|            32|-949.09|         35.0|               0.83|   13761|"17-10-2009"|          "LOW"|
| "Ord_289"|  "Cust_67"|    "BETH THOMPSON"|"NORTHWEST TERRITORI|"NORTHWEST TERRITORI|     "CORPORATE"| "Prod_3"| "SHP_390"|   51.21|     0.0|             2| -27.53|         8.83|               0.37|   50278|"25-05-2010"|         "HIGH"|
| "Ord_289"|  "Cust_67"|    "BETH THOMPSON"|"NORTHWEST TERRITORI|"NORTHWEST TERRITORI|     "CORPORATE"|"Prod_11"| "SHP_391"| 2195.55|    0.01|            20|-355.94|         60.0|               0.59|   50278|"25-05-2010"|         "HIGH"|
|"Ord_3015"|"Cust_1131"|    "JASON FORTUNE"|           "ONTARIO"|           "ONTARIO"|     "CORPORATE"|"Prod_15"|"SHP_4177"| 8937.38|    0.01|            17|2383.42|         26.0|                0.6|   21922|"11-11-2009"|         "HIGH"|
|"Ord_3015"|"Cust_1131"|    "JASON FORTUNE"|           "ONTARIO"|           "ONTARIO"|     "CORPORATE"| "Prod_5"|"SHP_4178"|  108.85|    0.08|            11|  10.58|         6.02|               0.48|   21922|"11-11-2009"|         "HIGH"|
|"Ord_3015"|"Cust_1131"|    "JASON FORTUNE"|           "ONTARIO"|           "ONTARIO"|     "CORPORATE"|"Prod_13"|"SHP_4179"|  157.47|    0.09|            49|   8.07|         0.98|               0.59|   21922|"11-11-2009"|         "HIGH"|
+----------+-----------+-------------------+--------------------+--------------------+----------------+---------+----------+--------+--------+--------------+-------+-------------+-------------------+--------+------------+---------------+
only showing top 20 rows

In [21]:
join_df3 = join_df2.join(spark_prod,on="prod_id",how="left")
join_df3.show()

+--------+----------+-----------+--------------------+--------------------+--------------------+----------------+----------+-------+--------+--------------+-------+-------------+-------------------+--------+------------+---------------+----------------+--------------------+
| prod_id|    ord_id|    cust_id|       customer_name|            province|              region|customer_segment|   ship_id|  sales|discount|order_quantity| profit|shipping_cost|product_base_margin|order_id|  order_date| order_priority|product_category|product_sub_category|
+--------+----------+-----------+--------------------+--------------------+--------------------+----------------+----------+-------+--------+--------------+-------+-------------+-------------------+--------+------------+---------------+----------------+--------------------+
|"Prod_5"|"Ord_3015"|"Cust_1131"|     "JASON FORTUNE"|           "ONTARIO"|           "ONTARIO"|     "CORPORATE"|"SHP_4178"| 108.85|    0.08|            11|  10.58|         6.02|               0.48|   21922|"11-11-2009"|         "HIGH"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"| "Ord_549"| "Cust_186"|      "SANJIT CHAND"|  "BRITISH COLUMBIA"|              "WEST"|   "HOME OFFICE"| "SHP_744"|  413.8|    0.08|            23|  51.36|         8.99|               0.47|   28802|"04-11-2010"|         "HIGH"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_1770"| "Cust_595"|   "VICTORIA WILSON"|           "ONTARIO"|           "ONTARIO"|   "HOME OFFICE"|"SHP_2454"| 387.03|    0.04|            50|  -7.73|         4.95|               0.41|   48453|"26-07-2009"|       "MEDIUM"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_4023"|"Cust_1388"|          "AMY HUNT"|       "SASKACHEWAN"|            "PRARIE"|"SMALL BUSINESS"|"SHP_5598"| 486.43|     0.0|            15| 285.35|         3.92|               0.44|   10979|"04-10-2011"|       "MEDIUM"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"| "Ord_928"| "Cust_308"|     "STEVE CARROLL"|       "NOVA SCOTIA"|          "ATLANTIC"|      "CONSUMER"|"SHP_1284"| 535.24|    0.01|            32| 216.43|         3.73|               0.46|   21766|"01-06-2009"|         "HIGH"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_2265"| "Cust_827"|       "DOUG JACOBS"|            "QUEBEC"|            "QUEBEC"|   "HOME OFFICE"|"SHP_3087"|2784.57|    0.05|            21| 847.06|        24.49|               0.59|   17959|"09-09-2012"|       "MEDIUM"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"| "Ord_402"| "Cust_146"|      "GREG GUTHRIE"|"PRINCE EDWARD ISLAN|          "ATLANTIC"|     "CORPORATE"| "SHP_541"|  76.61|    0.09|            12| -31.83|         5.29|               0.43|   25376|"26-03-2011"|     "CRITICAL"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_4203"|"Cust_1429"|   "LAUREL ELLISTON"|     "NEW BRUNSWICK"|          "ATLANTIC"|   "HOME OFFICE"|"SHP_5859"| 804.14|     0.1|            50| -25.27|         8.99|               0.47|   46565|"22-06-2011"|"NOT SPECIFIED"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"| "Ord_271"| "Cust_100"|  "CHARLOTTE MELTON"|"NORTHWEST TERRITORI|"NORTHWEST TERRITORI|   "HOME OFFICE"| "SHP_369"|2522.21|     0.0|            37|1026.07|        14.48|               0.46|   45766|"07-05-2010"|         "HIGH"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_2925"| "Cust_572"|    "LENA CREIGHTON"|           "ONTARIO"|           "ONTARIO"|   "HOME OFFICE"|"SHP_4043"| 508.49|     0.1|            45| -28.81|          6.2|               0.52|   42274|"03-09-2011"|         "HIGH"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_4615"|"Cust_1572"|        "MICK BROWN"|  "BRITISH COLUMBIA"|              "WEST"|      "CONSUMER"|"SHP_6425"| 2548.3|     0.1|            34| 875.57|        19.99|               0.43|   33095|"15-02-2009"|"NOT SPECIFIED"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_1147"| "Cust_439"|"CHRISTINE KARGATIS"|           "ONTARIO"|           "ONTARIO"|"SMALL BUSINESS"|"SHP_1581"| 244.85|    0.06|            14|  38.06|         8.99|               0.47|    3777|"07-04-2009"|       "MEDIUM"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_4574"|"Cust_1490"| "TAMARA WILLINGHAM"|             "YUKON"|             "YUKON"|     "CORPORATE"|"SHP_6365"|1280.65|    0.06|            26|  75.36|        22.24|               0.55|   26464|"11-12-2011"|         "HIGH"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_2295"| "Cust_848"| "ELIZABETH MOFFITT"|            "QUEBEC"|            "QUEBEC"|      "CONSUMER"|"SHP_3141"|  55.49|    0.04|            11| -37.32|         7.24|               0.54|   34694|"28-04-2011"|          "LOW"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_4488"|"Cust_1539"|       "DARREN BUDD"|             "YUKON"|             "YUKON"|      "CONSUMER"|"SHP_6248"| 149.51|    0.02|             8| -31.11|        12.39|               0.61|   17799|"20-09-2012"|       "MEDIUM"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_5465"|"Cust_1813"|       "ERICA SMITH"|           "ALBERTA"|              "WEST"|"SMALL BUSINESS"|"SHP_7636"| 247.45|     0.0|            22|-133.18|        12.52|               0.57|   41760|"27-01-2012"|          "LOW"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_4383"|"Cust_1472"|      "ERIC BARRETO"|             "YUKON"|             "YUKON"|      "CONSUMER"|"SHP_6111"|  96.68|    0.03|            11|  22.25|         4.95|               0.41|    5984|"17-06-2009"|          "LOW"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_4383"|"Cust_1472"|      "ERIC BARRETO"|             "YUKON"|             "YUKON"|      "CONSUMER"|"SHP_6110"| 464.64|    0.03|            42|  14.48|         5.16|               0.57|    5984|"17-06-2009"|          "LOW"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_1398"| "Cust_525"|        "DAN LAWERA"|           "ONTARIO"|           "ONTARIO"|     "CORPORATE"|"SHP_1929"|1737.06|    0.02|            42| 339.17|          9.2|               0.65|   16771|"28-09-2009"|         "HIGH"|     "FURNITURE"|"OFFICE FURNISHINGS"|
|"Prod_5"|"Ord_2164"| "Cust_812"|"MICHELLE HUTHWAITE"|            "QUEBEC"|            "QUEBEC"|   "HOME OFFICE"|"SHP_2949"| 547.32|     0.1|            28|  42.39|         6.67|               0.49|   43488|"18-06-2012"|     "CRITICAL"|     "FURNITURE"|"OFFICE FURNISHINGS"|
+--------+----------+-----------+--------------------+--------------------+--------------------+----------------+----------+-------+--------+--------------+-------+-------------+-------------------+--------+------------+---------------+----------------+--------------------+
only showing top 20 rows

In [22]:
 merged_df=join_df3.join(spark_ship,on=["order_id","ship_id"],how="left")
merged_df.show()

+--------+----------+---------+----------+-----------+------------------+------------------+----------+----------------+--------+--------+--------------+-------+-------------+-------------------+------------+---------------+-----------------+--------------------+-------------+------------+
|order_id|   ship_id|  prod_id|    ord_id|    cust_id|     customer_name|          province|    region|customer_segment|   sales|discount|order_quantity| profit|shipping_cost|product_base_margin|  order_date| order_priority| product_category|product_sub_category|    ship_mode|   ship_date|
+--------+----------+---------+----------+-----------+------------------+------------------+----------+----------------+--------+--------+--------------+-------+-------------+-------------------+------------+---------------+-----------------+--------------------+-------------+------------+
|    1028| "SHP_674"| "Prod_8"| "Ord_500"| "Cust_187"|    "MATT COLLINS"|"BRITISH COLUMBIA"|    "WEST"|      "CONSUMER"|  165.75|    0.03|             6| -28.46|         1.99|                0.4|"05-01-2009"|         "HIGH"|     "TECHNOLOGY"|"COMPUTER PERIPHE...|"REGULAR AIR"|"06-01-2009"|
|    1221| "SHP_937"| "Prod_3"| "Ord_685"| "Cust_231"|    "LELA DONOVAN"|"BRITISH COLUMBIA"|    "WEST"|     "CORPORATE"|   14.68|    0.06|             1| -13.78|         6.19|               0.38|"18-04-2012"|"NOT SPECIFIED"|"OFFICE SUPPLIES"|"BINDERS AND BIND...|"REGULAR AIR"|"18-04-2012"|
|    2050|"SHP_5733"| "Prod_6"|"Ord_4116"|"Cust_1404"|    "JAMES GALANG"|   "NEW BRUNSWICK"|"ATLANTIC"|      "CONSUMER"|  542.11|    0.08|            25| -14.76|        11.54|               0.39|"01-06-2009"|"NOT SPECIFIED"|"OFFICE SUPPLIES"|             "PAPER"|"REGULAR AIR"|"03-06-2009"|
|    2050|"SHP_5733"|"Prod_12"|"Ord_4116"|"Cust_1404"|    "JAMES GALANG"|   "NEW BRUNSWICK"|"ATLANTIC"|      "CONSUMER"|   44.46|    0.06|            16|   5.27|         0.99|               0.38|"01-06-2009"|"NOT SPECIFIED"|"OFFICE SUPPLIES"|            "LABELS"|"REGULAR AIR"|"03-06-2009"|
|    2791|  "SHP_34"| "Prod_3"|  "Ord_26"|  "Cust_21"|  "EUGENE BARCHAS"|         "NUNAVUT"| "NUNAVUT"|     "CORPORATE"|  191.67|     0.0|            47|-236.27|         7.01|               0.37|"09-10-2009"|         "HIGH"|"OFFICE SUPPLIES"|"BINDERS AND BIND...|"REGULAR AIR"|"09-10-2009"|
|    3136|"SHP_1771"|"Prod_13"|"Ord_1284"| "Cust_480"|      "PAUL PROST"|         "ONTARIO"| "ONTARIO"|     "CORPORATE"|  238.74|     0.1|             8| -38.89|         8.99|               0.58|"09-08-2009"|"NOT SPECIFIED"|"OFFICE SUPPLIES"|"PENS & ART SUPPL...|"REGULAR AIR"|"11-08-2009"|
|    5251|"SHP_1832"| "Prod_4"|"Ord_1331"| "Cust_486"|   "TAMARA DAHLEN"|         "ONTARIO"| "ONTARIO"|     "CORPORATE"|3821.039|    0.05|            38|1057.89|         5.99|               0.57|"11-04-2011"|       "MEDIUM"|     "TECHNOLOGY"|"TELEPHONES AND C...|"EXPRESS AIR"|"13-04-2011"|
|    6310|"SHP_7105"| "Prod_5"|"Ord_5088"|"Cust_1730"| "KATHARINE HARMS"|         "ALBERTA"|    "WEST"|      "CONSUMER"|  216.95|    0.08|            27| -88.82|         7.96|               0.49|"03-05-2009"|"NOT SPECIFIED"|      "FURNITURE"|"OFFICE FURNISHINGS"|"REGULAR AIR"|"04-05-2009"|
|    6788|"SHP_6122"|"Prod_13"|"Ord_4392"|"Cust_1475"|     "BOBBY ELIAS"|           "YUKON"|   "YUKON"|"SMALL BUSINESS"|  127.84|    0.02|            41|  12.69|         0.96|               0.58|"04-08-2011"|"NOT SPECIFIED"|"OFFICE SUPPLIES"|"PENS & ART SUPPL...|"EXPRESS AIR"|"06-08-2011"|
|    7427| "SHP_967"| "Prod_3"| "Ord_706"| "Cust_242"| "RICARDO EMERSON"|"BRITISH COLUMBIA"|    "WEST"|     "CORPORATE"|  182.26|    0.01|             9|  60.61|         1.49|               0.35|"15-12-2012"|"NOT SPECIFIED"|"OFFICE SUPPLIES"|"BINDERS AND BIND...|"REGULAR AIR"|"16-12-2012"|
|    7458|"SHP_2590"| "Prod_3"|"Ord_1887"| "Cust_675"|  "KAREN CARLISLE"|     "NOVA SCOTIA"|"ATLANTIC"|     "CORPORATE"|  226.81|    0.05|            16|  -5.37|         7.17|               0.38|"04-04-2012"|     "CRITICAL"|"OFFICE SUPPLIES"|"BINDERS AND BIND...|"REGULAR AIR"|"06-04-2012"|
|    7458|"SHP_2590"| "Prod_8"|"Ord_1887"|"Cust_1505"|  "KAREN CARLISLE"|           "YUKON"|   "YUKON"|     "CORPORATE"|  337.34|    0.06|             9| -69.84|         1.99|               0.54|"04-04-2012"|     "CRITICAL"|     "TECHNOLOGY"|"COMPUTER PERIPHE...|"REGULAR AIR"|"06-04-2012"|
|    7553|"SHP_7490"| "Prod_5"|"Ord_5362"|"Cust_1805"|      "TONY SAYRE"|         "ALBERTA"|    "WEST"|   "HOME OFFICE"| 1079.19|    0.07|            12|   46.8|        39.61|               0.67|"07-05-2010"|       "MEDIUM"|      "FURNITURE"|"OFFICE FURNISHINGS"|"REGULAR AIR"|"08-05-2010"|
|    8480|"SHP_3569"| "Prod_6"|"Ord_2608"|"Cust_1010"|   "ROBERT MARLEY"|         "ONTARIO"| "ONTARIO"|     "CORPORATE"|   76.36|    0.07|            11|  -58.4|         8.74|               0.36|"29-01-2011"|         "HIGH"|"OFFICE SUPPLIES"|             "PAPER"|"REGULAR AIR"|"31-01-2011"|
|    8480|"SHP_3569"| "Prod_4"|"Ord_2608"|"Cust_1010"|   "ROBERT MARLEY"|         "ONTARIO"| "ONTARIO"|     "CORPORATE"|309.9015|    0.09|             3|-558.42|         7.69|               0.58|"29-01-2011"|         "HIGH"|     "TECHNOLOGY"|"TELEPHONES AND C...|"REGULAR AIR"|"31-01-2011"|
|    9954|"SHP_4518"| "Prod_6"|"Ord_3257"|"Cust_1182"|   "THAIS SISSMAN"|        "MANITOBA"|  "PRARIE"|     "CORPORATE"|   203.6|     0.0|            39|-166.44|         7.44|               0.36|"19-06-2009"|"NOT SPECIFIED"|"OFFICE SUPPLIES"|             "PAPER"|"REGULAR AIR"|"21-06-2009"|
|    9954|"SHP_4518"|"Prod_13"|"Ord_3257"|"Cust_1182"|   "THAIS SISSMAN"|        "MANITOBA"|  "PRARIE"|     "CORPORATE"|  115.81|     0.1|            30|  22.06|         0.83|               0.51|"19-06-2009"|"NOT SPECIFIED"|"OFFICE SUPPLIES"|"PENS & ART SUPPL...|"REGULAR AIR"|"21-06-2009"|
|   11014|"SHP_6173"| "Prod_3"|"Ord_4429"|"Cust_1522"|"VICTORIA PISTEKA"|           "YUKON"|   "YUKON"|     "CORPORATE"|  158.79|    0.05|            13|   1.16|         5.63|                0.4|"07-09-2010"|         "HIGH"|"OFFICE SUPPLIES"|"BINDERS AND BIND...|"REGULAR AIR"|"09-09-2010"|
|   11236|"SHP_6176"| "Prod_6"|"Ord_2200"|"Cust_1461"|  "ROBERT BARROSO"|           "YUKON"|   "YUKON"|"SMALL BUSINESS"|  298.57|    0.07|            45|  74.07|          2.0|               0.39|"30-10-2010"|         "HIGH"|"OFFICE SUPPLIES"|             "PAPER"|"REGULAR AIR"|"30-10-2010"|
|   11236|"SHP_6176"|"Prod_13"|"Ord_2200"|"Cust_1461"|  "ROBERT BARROSO"|           "YUKON"|   "YUKON"|"SMALL BUSINESS"|   44.32|    0.01|            15| -41.55|         4.28|               0.44|"30-10-2010"|         "HIGH"|"OFFICE SUPPLIES"|"PENS & ART SUPPL...|"REGULAR AIR"|"30-10-2010"|
+--------+----------+---------+----------+-----------+------------------+------------------+----------+----------------+--------+--------+--------------+-------+-------------+-------------------+------------+---------------+-----------------+--------------------+-------------+------------+
only showing top 20 rows

In [23]:
merged_df.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- ship_id: string (nullable = true)
 |-- prod_id: string (nullable = true)
 |-- ord_id: string (nullable = true)
 |-- cust_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- province: string (nullable = true)
 |-- region: string (nullable = true)
 |-- customer_segment: string (nullable = true)
 |-- sales: double (nullable = true)
 |-- discount: double (nullable = true)
 |-- order_quantity: long (nullable = true)
 |-- profit: double (nullable = true)
 |-- shipping_cost: double (nullable = true)
 |-- product_base_margin: double (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_priority: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- product_sub_category: string (nullable = true)
 |-- ship_mode: string (nullable = true)
 |-- ship_date: string (nullable = true)

In [24]:
#change date's string data type into date data type
from pyspark.sql.functions import to_date
new_df = merged_df
new_df = new_df.withColumn("Order_Date", to_date(new_df["order_date"],"dd-mm-yyyy"))
new_df = new_df.withColumn("Ship_Date", to_date(new_df["order_date"],"dd-mm-yyyy"))
new_df.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- ship_id: string (nullable = true)
 |-- prod_id: string (nullable = true)
 |-- ord_id: string (nullable = true)
 |-- cust_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- province: string (nullable = true)
 |-- region: string (nullable = true)
 |-- customer_segment: string (nullable = true)
 |-- sales: double (nullable = true)
 |-- discount: double (nullable = true)
 |-- order_quantity: long (nullable = true)
 |-- profit: double (nullable = true)
 |-- shipping_cost: double (nullable = true)
 |-- product_base_margin: double (nullable = true)
 |-- Order_Date: date (nullable = true)
 |-- order_priority: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- product_sub_category: string (nullable = true)
 |-- ship_mode: string (nullable = true)
 |-- Ship_Date: date (nullable = true)

In [25]:
#save the new_df into hdfs
# new_df.coalesce(1).write.mode('overwrite').csv('joined_data.csv', header=True)

In [26]:
panda_df=new_df.toPandas()
panda_df

,order_id,ship_id,prod_id,ord_id,cust_id,customer_name,province,region,customer_segment,sales,...,order_quantity,profit,shipping_cost,product_base_margin,Order_Date,order_priority,product_category,product_sub_category,ship_mode,Ship_Date
0,1028.0,"""SHP_674""","""Prod_8""","""Ord_500""","""Cust_187""","""MATT COLLINS""","""BRITISH COLUMBIA""","""WEST""","""CONSUMER""",165.7500,...,6.0,-28.46,1.99,0.40,None,"""HIGH""","""TECHNOLOGY""","""COMPUTER PERIPHERALS""","""REGULAR AIR""",None
1,1221.0,"""SHP_937""","""Prod_3""","""Ord_685""","""Cust_231""","""LELA DONOVAN""","""BRITISH COLUMBIA""","""WEST""","""CORPORATE""",14.6800,...,1.0,-13.78,6.19,0.38,None,"""NOT SPECIFIED""","""OFFICE SUPPLIES""","""BINDERS AND BINDER ACCESSORIES""","""REGULAR AIR""",None
2,2050.0,"""SHP_5733""","""Prod_6""","""Ord_4116""","""Cust_1404""","""JAMES GALANG""","""NEW BRUNSWICK""","""ATLANTIC""","""CONSUMER""",542.1100,...,25.0,-14.76,11.54,0.39,None,"""NOT SPECIFIED""","""OFFICE SUPPLIES""","""PAPER""","""REGULAR AIR""",None
3,2050.0,"""SHP_5733""","""Prod_12""","""Ord_4116""","""Cust_1404""","""JAMES GALANG""","""NEW BRUNSWICK""","""ATLANTIC""","""CONSUMER""",44.4600,...,16.0,5.27,0.99,0.38,None,"""NOT SPECIFIED""","""OFFICE SUPPLIES""","""LABELS""","""REGULAR AIR""",None
4,2791.0,"""SHP_34""","""Prod_3""","""Ord_26""","""Cust_21""","""EUGENE BARCHAS""","""NUNAVUT""","""NUNAVUT""","""CORPORATE""",191.6700,...,47.0,-236.27,7.01,0.37,None,"""HIGH""","""OFFICE SUPPLIES""","""BINDERS AND BINDER ACCESSORIES""","""REGULAR AIR""",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13900,55425.0,"""SHP_2552""","""Prod_4""","""Ord_1858""","""Cust_653""","""PAUL KNUTSON""","""NEWFOUNDLAND""","""ATLANTIC""","""CORPORATE""",4373.8535,...,42.0,963.68,7.69,0.59,None,"""CRITICAL""","""TECHNOLOGY""","""TELEPHONES AND COMMUNICATION""","""EXPRESS AIR""",None
13901,56423.0,"""SHP_5455""","""Prod_1""","""Ord_3926""","""Cust_1340""","""DENNIS PARDUE""","""SASKACHEWAN""","""PRARIE""","""CORPORATE""",1609.6900,...,4.0,-281.17,19.99,0.58,None,"""NOT SPECIFIED""","""OFFICE SUPPLIES""","""STORAGE & ORGANIZATION""","""REGULAR AIR""",None
13902,56901.0,"""SHP_1191""","""Prod_13""","""Ord_866""","""Cust_295""","""PAUL MACINTYRE""","""NOVA SCOTIA""","""ATLANTIC""","""CORPORATE""",100.6800,...,36.0,-45.21,2.40,0.58,None,"""CRITICAL""","""OFFICE SUPPLIES""","""PENS & ART SUPPLIES""","""REGULAR AIR""",None
13903,57152.0,"""SHP_7673""","""Prod_3""","""Ord_5491""","""Cust_1814""","""CHRISTOPHER CONANT""","""ALBERTA""","""WEST""","""HOME OFFICE""",22.8900,...,6.0,-2.66,1.49,0.38,None,"""LOW""","""OFFICE SUPPLIES""","""BINDERS AND BINDER ACCESSORIES""","""REGULAR AIR""",None
13904,58308.0,"""SHP_5040""","""Prod_5""","""Ord_3639""","""Cust_1266""","""WILLIAM BROWN""","""SASKACHEWAN""","""PRARIE""","""CORPORATE""",40.3400,...,2.0,-23.62,7.74,0.50,None,"""NOT SPECIFIED""","""FURNITURE""","""OFFICE FURNISHINGS""","""REGULAR AIR""",None

In [ ]:
panda_df.groupby('cust_id').agg({'ord_id':'count'}).sort_values('ord_id',ascending=False).head(3)

In [13]:
from pyspark.sql import SparkSession
 
# Initialize SparkSession with Hive support
spark = SparkSession.builder \
    .appName("HiveSelectQuery") \
    .config("spark.sql.warehouse.dir", "/user/hive/warehouse") \
    .config("hive.metastore.uris", "thrift://localhost:9083") \
    .config("spark.sql.catalogImplementation", "hive") \
    .enableHiveSupport() \
    .getOrCreate()
 
spark.sparkContext.setLogLevel("ERROR")

2024-09-05 10:03:49,779 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
2024-09-05 10:03:49,780 WARN util.Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
2024-09-05 10:03:49,780 WARN util.Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
2024-09-05 10:03:49,780 WARN util.Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
2024-09-05 10:03:49,780 WARN util.Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
2024-09-05 10:03:49,780 WARN util.Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
2024-09-05 10:03:49,833 WARN yarn.Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [14]:
df=pd.read_csv('orders_dimen.csv')
df.head(5)

   Order_ID  Order_Date Order_Priority Ord_id
0         3  13-10-2010            LOW  Ord_1
1       293  01-10-2012           HIGH  Ord_2
2       483  10-07-2011           HIGH  Ord_3
3       515  28-08-2010  NOT SPECIFIED  Ord_4
4       613  17-06-2011           HIGH  Ord_5

In [15]:
spark_df=spark.createDataFrame(df)
spark_df.show()

+--------+----------+--------------+------+
|Order_ID|Order_Date|Order_Priority|Ord_id|
+--------+----------+--------------+------+
|       3|13-10-2010|           LOW| Ord_1|
|     293|01-10-2012|          HIGH| Ord_2|
|     483|10-07-2011|          HIGH| Ord_3|
|     515|28-08-2010| NOT SPECIFIED| Ord_4|
|     613|17-06-2011|          HIGH| Ord_5|
|     643|24-03-2011|          HIGH| Ord_6|
|     678|26-02-2010|           LOW| Ord_7|
|     807|23-11-2010|        MEDIUM| Ord_8|
|     868|08-06-2012| NOT SPECIFIED| Ord_9|
|     933|04-08-2012| NOT SPECIFIED|Ord_10|
|     995|30-05-2011|        MEDIUM|Ord_11|
|     998|25-11-2009| NOT SPECIFIED|Ord_12|
|    1154|14-02-2012|      CRITICAL|Ord_13|
|    1344|15-04-2012|           LOW|Ord_14|
|    1412|12-03-2010| NOT SPECIFIED|Ord_15|
|    1539|09-03-2011|           LOW|Ord_16|
|    1540|04-08-2012|          HIGH|Ord_17|
|    1702|06-05-2011|          HIGH|Ord_18|
|    1761|23-12-2010|          HIGH|Ord_19|
|    1792|08-11-2010|           LOW|Ord_20|
+--------+----------+--------------+------+
only showing top 20 rows

In [17]:
spark.sql("use fireBase")

DataFrame[]

In [26]:
# spark.sql(""" create table if not exists orders(
#               Order_ID bigint,
#               Order_Date string,
#               Order_Priority string,
#               Ord_id string
#               )
#               """
#          )
# spark.sql("drop table orders")

DataFrame[]

In [28]:
spark_df.write.mode('append').saveAsTable('ord_1')

In [42]:
spark.sql("select * from emp").show()

+-------+---+--------+
|   name|age|  salary|
+-------+---+--------+
|  Alice| 30|  3000.0|
|    Bob| 25|  2500.0|
|Charlie| 35|  3500.0|
|   Tony| 21|234567.0|
|   John| 34|  3456.7|
|    Max| 23|  4324.3|
+-------+---+--------+

In [52]:
spark.sql("describe table fireBase.emp").show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|    name|   string|   null|
|     age|      int|   null|
|  salary|   double|   null|
+--------+---------+-------+

In [53]:
spark.sql("alter table fireBase.emp modify  salary int")
# df = df.withColumn("column_name", df["column_name"].cast("new_data_type"))

ParseException:
no viable alternative at input 'alter table fireBase.emp modify'(line 1, pos 25)

== SQL ==
alter table fireBase.emp modify  salary int
-------------------------^^^