In [1]:
#SparkSession is for dataframe
from pyspark.sql import SparkSession
import pandas as pd

In [2]:
#initialize the SparkSession
spark=SparkSession.builder.appName('CSV to DataFrame').getOrCreate()
# path to csv file
csv_file_path='users.csv'
#read the CSV file into dataframe
# df=spark.read.csv(csv_file_path,header=True,inferSchema=True)
dt=pd.read_csv('users.csv')
#show the first few rows of the dataframe
dt.head()
#display the schema of the dataframe
# df.printSchema()

2024-08-28 16:08:37,704 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2024-08-28 16:08:39,000 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
2024-08-28 16:08:40,177 WARN yarn.Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

   user_id gender  age zipcode              occupation
0       53      M   25   96931  other or not specified
1      134      M   25   66212  other or not specified
2      173      M   25   45237  other or not specified
3      179      M   25    2135  other or not specified
4      235      M   25   98153  other or not specified

In [ ]:
#convert pandas DataFrame into spark DataFrame
spark_df=spark.createDataFrame(dt)

#show the first few rows of the dataframe
spark_df.show()

2024-08-28 16:09:32,906 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
2024-08-28 16:09:47,905 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
2024-08-28 16:10:02,906 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
2024-08-28 16:10:17,905 WARN cluster.YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources

In [4]:
#display the schema of the dataframe
spark_df.printSchema()

root
 |-- user_id: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: long (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- occupation: string (nullable = true)

In [5]:
spark_df.filter(spark_df.gender=='M').show(truncate=False)

+-------+------+---+-------+----------------------+
|user_id|gender|age|zipcode|occupation            |
+-------+------+---+-------+----------------------+
|53     |M     |25 |96931  |other or not specified|
|134    |M     |25 |66212  |other or not specified|
|173    |M     |25 |45237  |other or not specified|
|179    |M     |25 |2135   |other or not specified|
|235    |M     |25 |98153  |other or not specified|
|275    |M     |25 |48162  |other or not specified|
|283    |M     |25 |10003  |other or not specified|
|304    |M     |25 |55414  |other or not specified|
|368    |M     |25 |90293  |other or not specified|
|386    |M     |25 |55408  |other or not specified|
|414    |M     |25 |55317  |other or not specified|
|513    |M     |25 |55119  |other or not specified|
|591    |M     |25 |76201  |other or not specified|
|607    |M     |25 |43614  |other or not specified|
|618    |M     |25 |74105  |other or not specified|
|622    |M     |25 |92612  |other or not specified|
|678    |M     |25 |34952  |other or not specified|
|708    |M     |25 |37042  |other or not specified|
|712    |M     |25 |95136  |other or not specified|
|730    |M     |25 |10580  |other or not specified|
+-------+------+---+-------+----------------------+
only showing top 20 rows