### Part1 : Basic/Easy RDD Operations
### Write Spark RDD commands for the following.

In [1]:
#SparkContext is for RDDs
from pyspark import SparkContext

In [2]:
#initialize sparkcontext
sc=SparkContext('local','wordCount')
data=[1,2,3,4,5]
#1.To load the given list into a spark RDD, list1 = [1,2,3,4,5].
rdd=sc.parallelize(data)
print(rdd.collect())

2024-08-27 15:28:43,034 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

[1, 2, 3, 4, 5]

In [14]:
#2.Display/Print first four elements of the RDD
print(rdd.take(4))

[1, 2, 3, 4]

In [4]:
#3.Display/Print the first element of the RDD
print(rdd.take(1))

[1]

In [16]:
#4.Display/Print the number of elements in the RDD.
count_num=rdd.count()
print(count_num)

5

In [21]:
#5. Display sum of all elements of the RDD.
sum=rdd.sum()
print(sum)
#or
total_sum=rdd.reduce(lambda x,y:x+y)
print(total_sum)

15
15
<class 'int'>

In [7]:
#6. Display maximum value of the RDD.
max_value=rdd.max()
print(max_value)

5

In [8]:
#7. Display minimum value of the RDD.
min_value=rdd.min()
print(min_value)

1

In [9]:
#8. Display the first 5 element of the RDD.
print(rdd.take(5))

[1, 2, 3, 4, 5]

In [10]:
#9. Display the first element of the RDD.
first_el=rdd.take(1)
print(first_el)

[1]

In [11]:
#10. Display the mean value among all elements of the RDD.
mean_val=rdd.mean()
print(mean_val)

3.0

### Part 2 : Moderate RDD Operations

### 1. Write Spark RDD transformations to square each element of the RDD ( used in above part 1 )  and return a new RDD.

In [47]:
rdd_1=rdd.map(lambda x:x*x)
print(rdd_1.collect())

[1, 4, 9, 16, 25]

### 2. Given two RDDs rdd1 and rdd2, containing integers, write a Spark RDD transformation to find the union of the two RDDs, removing any duplicate elements, and return a new RDD.

In [24]:
rdd_2=rdd.union(rdd_1).distinct()
print(rdd_2.collect())

[2, 4, 16, 1, 3, 5, 9, 25]

### 3. Consider an RDD rdd containing key-value pairs. Write a Spark RDD transformation to filter the RDD and return a new RDD with only the key-value pairs where the value is greater than 10

In [45]:
sample_data=[
    (1,4),(2,12),(3,11),(4,9)
]
rdd_3=sc.parallelize(sample_data)
# print(rdd_3.collect())
res=rdd_3.filter(lambda x:x[1]>10)
print(res.collect())

[(2, 12), (3, 11)]

### 4. Given an RDD rdd containing strings, write a Spark RDD transformation to count the occurrences of each unique string and return a new RDD with key-value pairs, where the key is the string and the value is its count.

In [62]:
st=["hello","hi","spark","hello","hi","spark","world"]
rdd_4=sc.parallelize(st)
# print(rdd_4.collect())
new_rdd=rdd_4.map(lambda x:(x,1))
ans=new_rdd.reduceByKey(lambda x,y:x+y)
print(ans.collect())

<class 'pyspark.rdd.PipelinedRDD'>
[('hello', 2), ('hi', 2), ('spark', 2), ('world', 1)]

### 5. Given an RDD rdd containing integers, write a Spark RDD action to calculate the sum of all the elements in the RDD and return the result.

In [63]:
print(rdd_2.sum())

65

### Part 3: Spark Use Case: Log analysis using Spark RDD
#### Write a Spark (PySpark) program using RDD operations to perform the following tasks:

In [65]:
#hdfs dfs -put apache_logs.txt /user/maneelcha49dgre (to upload data on hdfs in terminal)
#OR
import os
os.environ['HADOOP_HOME'] = '/opt/hadoop' 
os.environ['PATH'] += os.pathsep + os.path.join(os.environ['HADOOP_HOME'], 'bin')
local_file = "apache_logs.txt"
hdfs_directory = "/user/maneelcha49dgre/"
!hdfs dfs -put {local_file} {hdfs_directory}

### a. Read the log file from provided log file ‘apache_logs.txt’ and create an RDD with each line of the log file as an element.

In [69]:
from pyspark import SparkContext
import re
rdd_5=sc.textFile('apache_logs.txt')
# print(rdd_5.collect())

### b. Filter the RDD to keep only the lines that contain the string "ERROR" (case-insensitive).

In [75]:
filtered_rdd = rdd_5.filter(lambda line: "ERROR" in line.upper())
print(filtered_rdd.collect())

['66.249.73.135 - - [18/May/2015:05:05:49 +0000] "GET /blog/geekery/ie-javascript-error.html HTTP/1.1" 200 8600 "-" "Mozilla/5.0 (iPhone; CPU iPhone OS 6_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10A5376e Safari/8536.25 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"', '66.249.73.135 - - [18/May/2015:05:05:08 +0000] "GET /blog/geekery/vim-function-to-make-errors-readable.html HTTP/1.1" 200 10260 "-" "Mozilla/5.0 (iPhone; CPU iPhone OS 6_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10A5376e Safari/8536.25 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"', '207.241.237.224 - - [18/May/2015:13:05:45 +0000] "GET /blog/geekery/vim-function-to-make-errors-readable.html HTTP/1.0" 200 10260 "http://www.semicomplete.com/blog/tags/year%20review" "Mozilla/5.0 (compatible; archive.org_bot +http://www.archive.org/details/archive.org_bot)"', '66.249.73.135 - - [18/May/2015:16:05:31 +0000] "GET /misc/errors.m4 HTTP/1.1" 200 7420 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)"', '208.43.252.200 - - [18/May/2015:21:05:56 +0000] "GET /blog/geekery/vim-function-to-make-errors-readable.html HTTP/1.1" 200 10260 "-" "Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; WOW64; Trident/5.0; chromeframe/19.0.1084.52)"', '208.43.251.181 - - [19/May/2015:07:05:16 +0000] "GET /blog/geekery/vim-function-to-make-errors-readable.html HTTP/1.1" 200 10260 "-" "Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; WOW64; Trident/5.0; chromeframe/19.0.1084.52)"', '125.122.211.40 - - [20/May/2015:04:05:26 +0000] "GET /articles/dynamic-dns-with-dhcp/ HTTP/1.1" 200 18848 "http://www.baidu.com/s?ie=utf-8&bs=60.191.124.236&f=3&rsv_bp=1&rsv_spt=3&wd=TSIG+error+with+server%3A+tsig+indicates+error&rsv_sug3=2&rsv_sug4=31&rsv_sug1=2&rsp=0&inputT=0" "Mozilla/5.0 (Windows NT 6.1; WOW64; rv:25.0) Gecko/20100101 Firefox/25.0"']

### c. Extract the IP address from each error line. The IP address can be extracted by parsing the line and extracting the substring that represents the IP address
### d. Count the occurrences of each unique IP address and return an RDD with tuples containing the IP address and its count.
### e. Print the IP address and its corresponding count.

In [77]:
def extract_ip(line):
    ip_pattern = r'\b(?:[0-9]{1,3}\.){3}[0-9]{1,3}\b'
    match = re.search(ip_pattern, line)
    return match.group(0) if match else None

ip_rdd = filtered_rdd.map(extract_ip).filter(lambda ip: ip is not None)
ip_count_rdd = ip_rdd.map(lambda ip: (ip, 1)).reduceByKey(lambda a, b: a + b)

for ip, count in ip_count_rdd.collect():
    print(f"{ip}: {count}")

66.249.73.135: 3
207.241.237.224: 1
208.43.252.200: 1
208.43.251.181: 1
125.122.211.40: 1