### Reading from MySQL (JDBC Source)

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("DataSourceExamples") \
    .config("spark.jars.packages","mysql:mysql-connector-java:8.0.33","org.apache.spark:spark-avro_2.12:3.4.0") \
    .enableHiveSupport() \
    .getOrCreate()
#to read csv
csv_df = spark.read.csv("/user/ananjayja66hgre/users.csv",header = True, inferSchema = True)
#to read json
json_df = spark.read.json("")
#to read parquet
parquet_df =spark.read.parquet("");
#to read avro
avro_df = spark.read.format("avro").load("")

AttributeError: 'str' object has no attribute 'getAll'

In [7]:
#JDBC connectin properties
jdbc_url='jdbc:mysql://hostname:port/maneelcha49dgre'#here maneelcha49dgre is database name
properties={
    'user':'maneelcha49dgre',
    'password':'BrownGorilla19$',
    'driver':'com.mysql.cj.jdbc.Driver'
}
#reading data from MySQL
mysql_df=spark.read.json(url=jdbc_url,table='table_name',properties=properties)

#running a simple SQL Select statement on the data frame
selected_df=mysql_df.select('column1','column2').filter(mysql_df.column>100)

NameError: name 'spark' is not defined