In [1]:
print("Hello World")

Hello World

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\spock\appdata\local\programs\python\python310\lib\site-packages (9.0.0)

WARNING: You are using pip version 21.2.3; however, version 24.1.2 is available.
You should consider upgrading via the 'C:\Users\spock\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [10]:
import mysql.connector

connection = mysql.connector.connect(host = 'localhost',
                                    user = 'root',
                                    password = '725@Mysql')

print(connection.connection_id)

37

In [11]:
cursor = connection.cursor()

In [12]:
cursor.execute("show databases")

In [13]:
for dbs in cursor:
    print(dbs)

('company',)
('db',)
('hr',)
('hr_emp',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [15]:
cursor.execute("use hr_emp")

In [16]:
query = "show tables"
cursor.execute(query)

In [18]:
for table in cursor:
    print(table)

('course',)
('employees',)
('employees1',)
('employees_no_null',)
('student',)
('students',)
('users',)

In [22]:
query = "select * from students"
cursor.execute(query)

In [20]:
for data in cursor:
    print(data)

(1, 'Ram')
(2, 'Ajay')
(3, 'Raj')
(4, 'Pavan')

In [23]:
data = cursor.fetchall()
print(data)

[(1, 'Ram'), (2, 'Ajay'), (3, 'Raj'), (4, 'Pavan')]

In [25]:
import pandas as pd
d1 = pd.DataFrame(data,
                 columns = ['StudentId','StudentNames'])
d1

   StudentId StudentNames
0          1          Ram
1          2         Ajay
2          3          Raj
3          4        Pavan