In [1]:
import mysql.connector

connection = mysql.connector.connect(host = 'localhost',
                                    user = 'root',
                                    password = '725@Mysql')

print(connection.connection_id)

38

In [2]:
cursor = connection.cursor()
cursor.execute("show databases")
for dbs in cursor:
    print(dbs)

('company',)
('db',)
('hr',)
('hr_emp',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [3]:
query = "create database mydb"
cursor.execute(query)

In [4]:
cursor.execute("show databases")
for dbs in cursor:
    print(dbs)

('company',)
('db',)
('hr',)
('hr_emp',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

**Connect with your database**

In [5]:
connection = mysql.connector.connect(host = 'localhost',
                                    user = 'root',
                                    password = '725@Mysql',
                                    database = 'mydb')

print(connection.connection_id)

39

In [6]:
#Create a new data table
cursor = connection.cursor()

query = "create table newbook(bookid int, title varchar(30), price float(5,2))"
cursor.execute(query)
cursor.close()
connection.commit()
print("Data table is created to store book info")

Data table is created to store book info

In [8]:
#write and execute query to show data table schema
cursor = connection.cursor()

query = "describe newbook"

cursor.execute(query)
result = cursor.fetchall()
cursor.close()

for res in result:
    print(res)

('bookid', 'int', 'YES', '', None, '')
('title', 'varchar(30)', 'YES', '', None, '')
('price', 'float(5,2)', 'YES', '', None, '')

In [9]:
cursor = connection.cursor()
query = "insert into newbook (bookid,title,price) values (%s,%s,%s)"
value = (1,"Learn Python",230.5)
cursor.execute(query,value)
cursor.close()
connection.commit()

In [15]:
connection = mysql.connector.connect(host = 'localhost',
                                    user = 'root',
                                    password = '725@Mysql',
                                    database = 'mydb')
print(connection.connection_id)

41

In [16]:
cursor = connection.cursor()
query = "select * from newbook"
cursor.execute(query)
result = cursor.fetchall()
cursor.close()
print(result)

[(1, 'Learn Python', 230.5)]

In [17]:
cursor = connection.cursor()
query = "insert into newbook (bookid,title,price) values (%s,%s,%s)"
value = [(2,"Learn PHP",210.5),(3,"Learn Java",200.00),(4,"Learn R",150.00)]
cursor.executemany(query,value)
cursor.close()
connection.commit()

In [18]:
cursor = connection.cursor()
query = "select * from newbook"
cursor.execute(query)
result = cursor.fetchall()
cursor.close()
print(result)

[(1, 'Learn Python', 230.5), (2, 'Learn PHP', 210.5), (3, 'Learn Java', 200.0), (4, 'Learn R', 150.0)]

In [19]:
# write a query and execute 
# To update price of book whose price is more then 200 => new price = currect price + 10
cursor = connection.cursor()
query = "update newbook set price = price + 10 where price > 200"
cursor.execute(query)
cursor.close()
connection.commit()

In [20]:
cursor = connection.cursor()
query = "select * from newbook"
cursor.execute(query)
result = cursor.fetchall()
cursor.close()
print(result)

[(1, 'Learn Python', 240.5), (2, 'Learn PHP', 220.5), (3, 'Learn Java', 200.0), (4, 'Learn R', 150.0)]

In [21]:
#delete data row of java book
cursor = connection.cursor()
query = "delete from newbook where title = 'Learn Java'"
cursor.execute(query)
cursor.close()
connection.commit()

In [22]:
cursor = connection.cursor()
query = "select * from newbook"
cursor.execute(query)
result = cursor.fetchall()
cursor.close()
print(result)

[(1, 'Learn Python', 240.5), (2, 'Learn PHP', 220.5), (4, 'Learn R', 150.0)]

In [ ]:
cursor = connection.cursor()

query = "alter table newbook add column quantity int"

cursor.execute(query)
cursor.close()
connection.commit()

In [ ]:
#write and execute query to show data table schema
cursor = connection.cursor()

query = "describe newbook"

cursor.execute(query)
result = cursor.fetchall()
cursor.close()

for res in result:
    print(res)